@use "animations";

@mixin color($theme) {
  $background-palette: map-get($theme, background);
  $image-opts: map-get($theme, image);

  app-profile-picture {
    img {
      background-color: map-get($background-palette, z1);
      border-color: map-get($theme, hairline);
      filter: map-get($image-opts, filter);
    }

    .comment {
      background-color: map-get($background-palette, z2);

      &:before {
        border-right-color: map-get($background-palette, z2) !important;
      }
    }

    // Bubble speech is at top on super small screens
    @media screen and (max-width: 279.98px) {
      .comment:before {
        border-right-color: transparent !important;
        border-bottom-color: map-get($background-palette, z2) !important;
      }
    }
  }
}

@mixin motion() {
  app-profile-picture {
    img {
      transition: opacity animations.$standard-duration animations.$standard-easing;
      transition-property: filter, background-color;
      @include animations.transition(animations.$emphasized-style)
    }

    .comment {
      transition-property: opacity, visibility;
      @include animations.transition(animations.$standard-style)
    }
  }
}
