@use 'theming';
@use 'toolbar';

:host {
  block-size: toolbar.$icons-height;
}

.light-only {
  @include theming.when-dark-mode {
    display: none;
  }
}
.dark-only {
  @include theming.when-light-mode {
    display: none;
  }
}
