@use 'header';
@use 'touch-or-pointer';
@use 'material-symbols';
@use 'sass:selector';

:host {
  button {
    color: var(--icon);
    border-style: none;
    background: transparent;
    font-size: header.$icons-height;

    @include touch-or-pointer.primaryInputCanHover {
      &:hover {
        color: var(--fg-primary);
      }
    }
  }

  @include material-symbols.class {
    font-size: 1em;
    @include material-symbols.variation-settings(
      $fill: false,
      $weight: 200,
      $grade: 0,
      $size: header.$icons-height
    );
  }
}

@mixin light-only {
  ::ng-deep.light-only {
    display: initial;
  }

  ::ng-deep.dark-only {
    display: none;
  }
}

::ng-deep html,
::ng-deep html[data-color-scheme='light'] {
  @include light-only;
}

@mixin dark-only {
  ::ng-deep.light-only {
    display: none;
  }

  ::ng-deep.dark-only {
    display: initial;
  }
}

::ng-deep html[data-color-scheme='dark'] {
  @include dark-only;
}

@media (prefers-color-scheme: dark) {
  ::ng-deep html {
    @include dark-only;
  }
}
