@use 'header';
@use 'touch-or-pointer';
@use 'material-symbols';
@use 'sass:selector';
@use 'animations';

button {
  color: var(--icon-default);
  border-style: none;
  background: transparent;

  @include touch-or-pointer.primaryInputCanHover {
    &:hover {
      color: var(--icon-default-hover);
    }
  }

  @include animations.when-motion-host-context {
    @include animations.single-transition(color, animations.$emphasized-style);
  }

  @include material-symbols.class {
    @include material-symbols.font-size(header.$icons-height);
    @include material-symbols.variation-settings(
      $fill: false,
      $weight: 300,
      $grade: 0
    );
  }
}

@mixin light-only {
  ::ng-deep.light-only {
    display: initial;
  }

  ::ng-deep.dark-only {
    display: none;
  }
}

::ng-deep html,
::ng-deep html[data-color-scheme='light'] {
  @include light-only;
}

@mixin dark-only {
  ::ng-deep.light-only {
    display: none;
  }

  ::ng-deep.dark-only {
    display: initial;
  }
}

::ng-deep html[data-color-scheme='dark'] {
  @include dark-only;
}

@media (prefers-color-scheme: dark) {
  ::ng-deep html {
    @include dark-only;
  }
}
