$default-dark-theme: (
  accent: #8ab4f8,
  hairline: #494c50ff,
  icon: #919191ff,
  chips: (
    border: #5db0d7,
    background: #282828,
    text: #e3e3e3,
    selected: #5db0d7,
    selectedText: #202124,
  ),
);
