@import 'constants';

$devtools-light-scheme: (
  kind: $light-color-scheme-kind,
  vars: (
    //bg-z0: #f8f9f9ff,
    bg-z0: white,
    bg-z1: #f1f3f4ff,
    bg-z2: #dee1e6ff,
    // Seems this one is overridden for macOs and Linux
    //fg-primary: #202124ff,
    fg-primary: #303942ff,
    fg-secondary: #5f6368ff,
    tabs-selected-fg: #333333ff,
    tabs-selected-bg: transparent,
    // --legacy-accent-color
    tabs-selected-border-bottom: 2px solid #1a73e8,
    img-filter: none,
    accent: #8ab4f8,
    hairline: #cacdd1ff,
    icon: #6e6e6eff,
    chips-border: #c7c7c7,
    // Original was too light, almost same colour as z1
    //chips-bg: #f2f2f2,
    chips-bg: #eaeaea,
    chips-fg: #1f1f1f,
    chips-selected: #0b57d0,
    chips-selected-text: white,
  ),
);
