@use 'constants';

$scheme: (
  kind: constants.$common-color-scheme-kind,
  vars: (
    // Locally by `devtools://theme/colors.css?sets=ui,chrome` (may change depending on current theme)
    ref-palette-primary20: #062e6fff,
    ref-palette-primary40: #0b57d0ff,
    ref-palette-primary50: #1b6ef3ff,
    ref-palette-primary70: #7cacf8ff,
    ref-palette-primary80: #a8c7faff,
    ref-palette-primary90: #d3e3fdff,
    ref-palette-primary100: #ffffffff,
    ref-palette-secondary50: #047db7ff,
    ref-palette-neutral10: #1f1f1fff,
    ref-palette-neutral15: #282828ff,
    ref-palette-neutral25: #3c3c3cff,
    ref-palette-neutral30: #474747ff,
    ref-palette-neutral40: #5e5e5eff,
    ref-palette-neutral50: #757575ff,
    ref-palette-neutral80: #c7c7c7ff,
    ref-palette-neutral90: #e3e3e3ff,
    ref-palette-neutral95: #f2f2f2ff,
    ref-palette-neutral99: #fdfcfbff,
    ref-palette-neutral100: #ffffffff,
    // Common for both themes
    // https://github.com/ChromeDevTools/devtools-frontend/blob/0f87a613d3894a26da7d14ae48e3c3804eeb3293/front_end/application_tokens.css#L19-L20
    icon-default: var(--sys-color-on-surface-subtle),
    icon-default-hover: var(--sys-color-on-surface),
    // https://github.com/ChromeDevTools/devtools-frontend/blob/0f87a613d3894a26da7d14ae48e3c3804eeb3293/front_end/application_tokens.css#L52
    ui-text: var(--sys-color-on-surface-subtle),
    // https://github.com/ChromeDevTools/devtools-frontend/blob/0f87a613d3894a26da7d14ae48e3c3804eeb3293/front_end/application_tokens.css#L54
    text-primary: var(--sys-color-on-surface),
    // https://github.com/ChromeDevTools/devtools-frontend/blob/0f87a613d3894a26da7d14ae48e3c3804eeb3293/front_end/design_system_tokens.css#L568C1-L569C1
    sys-shape-corner-full: 9999px,
  ),
);
