@import 'constants';

$devtools-dark-scheme: (
  kind: $dark-color-scheme-kind,
  vars: (
    bg-z0: #202023ff,
    bg-z1: #292a2dff,
    bg-z2: #35363aff,
    // Seems this one is overridden for macOS and Linux
    // fg-primary: #e8eaedff,
    fg-primary: #bdc6cfff,
    fg-secondary: #9aa0a6ff,
    // --legacy-tab-selected-fg-color
    tabs-selected-fg: #eaeaea,
    tabs-selected-bg: #000000,
    tabs-selected-border-bottom: none,
    img-filter: grayscale(0.5),
    accent: #8ab4f8,
    hairline: #494c50ff,
    icon: #919191ff,
    chips-border: #5db0d7,
    chips-bg: #282828,
    chips-fg: #e3e3e3,
    chips-selected: #5db0d7,
    chips-selected-text: #202124,
  ),
);
