@import 'constants';

$devtools-dark-scheme: (
  kind: $dark-color-scheme-kind,
  vars: (
    bg-z0: #202023ff,
    bg-z1: #292a2dff,
    bg-z2: #35363aff,
    // Seems this one is overridden for macOS and Linux
    // fg-primary: #e8eaedff,
    fg-primary: #bdc6cfff,
    fg-secondary: #9aa0a6ff,
  ),
);
