@use 'devtools-common-scheme';
@use 'devtools-light-scheme';
@use 'devtools-dark-scheme';
@use '../theming';

$devtools-theme: (
  slug: 'devtools',
  schemes: (
    devtools-common-scheme.$scheme,
    devtools-light-scheme.$scheme,
    devtools-dark-scheme.$scheme,
  ),
);

@include theming.define-theme($devtools-theme);
