@use 'breakpoints';
@use 'margins';

:host {
  ul {
    display: flex;
    flex-direction: row;
    gap: margins.$s;

    @include breakpoints.xs() {
      justify-content: center;
    }
  }

  li {
    height: 32px;

    .material-symbols-outlined {
      font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 32;
      font-size: 32px;
    }
  }
}
