@use 'animations';

@mixin color($theme) {
  app-profile-contact-traditional-icons {
    color: map-get($theme, icon);

    li:hover {
      color: var(--fg-secondary);
    }
  }
}
@mixin motion {
  app-profile-contact-traditional-icons {
    @include animations.single-transition(color, animations.$emphasized-style);
  }
}
