@use 'animations';

@mixin color($theme) {
  $text-palette: map-get($theme, text);

  app-profile-contact-traditional-icons {
    color: map-get($theme, icon);

    li:hover {
      color: map-get($text-palette, secondary);
    }
  }
}
@mixin motion {
  app-profile-contact-traditional-icons {
    @include animations.single-transition(color, animations.$emphasized-style);
  }
}
