@use 'breakpoints';
@use 'margins';
@use 'material-symbols';
@use 'animations';

:host {
  color: var(--icon);

  @include animations.define {
    @include animations.single-transition(color, animations.$emphasized-style);
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: margins.$s;

    @include breakpoints.xs() {
      justify-content: center;
    }
  }

  li {
    height: 32px;

    &:hover {
      color: var(--fg-secondary);
    }

    @include material-symbols.class {
      $fontSize: 32px;
      font-size: $fontSize;
      @include material-symbols.variation-settings(
        $fill: true,
        $weight: 700,
        $grade: 200,
        $size: $fontSize
      );
    }
  }

  a {
    text-decoration-line: none;
  }
}
