@use 'touch-or-pointer';
@use 'borders';
@use 'animations';

@mixin color($theme) {
  app-header {
    background-color: var(--bg-z1);
    border-bottom-color: borders.panel-color($theme);

    .toolbar button {
      color: var(--icon);

      @include touch-or-pointer.primaryInputCanHover {
        &:hover {
          color: var(--fg-primary);
        }
      }
    }
  }
}

@mixin motion() {
  app-header {
    @include animations.multiple-transitions(
      (background-color, border-color),
      animations.$emphasized-style
    );
  }
}

@mixin theme($theme) {
  @include color($theme);
}
