@use 'borders';
@use 'paddings';
@use 'header';
@use 'material-symbols';
@use 'z-index';
@use 'helpers/units';

:host {
  position: fixed;
  width: 100%;
  @include borders.panel-style-width(bottom);
  z-index: z-index.$header;

  .bar {
    display: flex;
    padding: header.$vertical-padding;
    flex-direction: row;
    justify-content: flex-end;
    $icons-height: header.$icons-height;
    $vertical-padding-height: header.$vertical-padding-height;
    min-height: calc($icons-height + $vertical-padding-height);

    .toolbar {
      height: header.$icons-height;

      button {
        border-style: none;
        background: transparent;
        font-size: header.$icons-height;
      }

      @include material-symbols.class {
        font-size: 1em;
        @include material-symbols.variation-settings(
          $fill: false,
          $weight: 200,
          $grade: 0,
          $size: header.$icons-height
        );
      }
    }
  }
}
