@use 'borders';
@use 'paddings';
@use 'header';
@use 'z-index';
@use 'helpers/units';

:host {
  position: fixed;
  width: 100%;
  @include borders.panel-style-width(bottom);
  z-index: z-index.$header;

  .bar {
    display: flex;
    padding: header.$vertical-padding;
    flex-direction: row;
    justify-content: flex-end;
    $icons-height: header.$icons-height;
    $vertical-padding-height: header.$vertical-padding-height;
    min-height: calc($icons-height + $vertical-padding-height);

    .toolbar {
      height: header.$icons-height;

      button {
        border-style: none;
        background: transparent;
        font-size: header.$icons-height;
      }

      .material-symbols-outlined {
        font-size: 1em;
        font-variation-settings:
          'FILL' 0,
          'wght' 200,
          'GRAD' 0,
          'opsz' #{units.stripUnit(header.$icons-height)};
      }
    }
  }
}
