<div class="bar">
  <div class="toolbar displayNoneIfNoScript" role="toolbar">
    <button
      (click)="colorSchemeService.toggleDarkLight()"
      aria-label="Color scheme toggle (dark or light)"
      id="dark-light-scheme-toggle"
    >
      <span [class]="MATERIAL_SYMBOLS_CLASS" class="light-only">{{
        MaterialSymbol.DarkTheme
      }}</span>
      <span [class]="MATERIAL_SYMBOLS_CLASS" class="dark-only">{{
        MaterialSymbol.LightTheme
      }}</span>
    </button>
  </div>
</div>
