<ng-container *ngIf="line.data">
  <ng-container *ngIf="isCollapsible; else leaf">
    <button
      type="button"
      class="data"
      [attr.aria-expanded]="isExpanded"
      [attr.aria-controls]="sluggedId"
      (click)="isExpanded ? this.collapse() : this.expand()"
    >
      <span
        class="caret"
        aria-hidden="true"
        [ngClass]="VISIBILITY_HIDDEN_IF_NO_SCRIPT_CLASS"
      >
        {{
          _platformService.isBrowser && isExpanded
            ? expandedIcon
            : collapsedIcon
        }}
      </span>
      <ng-container [ngTemplateOutlet]="data"></ng-container>
    </button>
  </ng-container>
  <ng-template #leaf>
    <div class="data">
      <ng-container [ngTemplateOutlet]="data"></ng-container>
    </div>
  </ng-template>
  <ng-template #data>
    <span
      class="symbol"
      aria-hidden="true"
      *ngIf="line.data"
      appMaterialSymbol
      >{{ line.data.symbol }}</span
    >
    <span
      class="content"
      [innerHtml]="sanitizer.bypassSecurityTrustHtml(line.data.html)"
    ></span>
  </ng-template>
</ng-container>
<ul
  *ngIf="line.children.length"
  [attr.id]="sluggedId"
  [@expanded]="!isCollapsible || isExpanded"
  [ngClass]="
    isCollapsible && _platformService.isServer
      ? [DISPLAY_FLEX_IF_NO_SCRIPT_CLASS]
      : undefined
  "
  [style.visibility]="
    isCollapsible && _platformService.isBrowser ? 'hidden' : undefined
  "
  [style.display]="
    isCollapsible && _platformService.isServer ? 'none' : undefined
  "
>
  <li *ngFor="let line of line.children">
    <app-collapsible-tree
      [line]="line"
      [isCollapsibleFn]="isCollapsibleFn"
      [depth]="depth + 1"
      [parent]="this"
    >
    </app-collapsible-tree>
  </li>
</ul>
