@let data = node().data;
@if (data) {
  @if (isCollapsible) {
    <button
      type="button"
      class="data"
      [attr.aria-expanded]="isExpanded()"
      [attr.aria-controls]="childListId"
      (click)="isExpanded() ? this.collapse() : this.expand()"
    >
      <span class="caret" aria-hidden="true">
        {{ isExpanded() ? '▼' : '▶' }}
      </span>
      <ng-container [ngTemplateOutlet]="dataEl"></ng-container>
    </button>
  } @else {
    <div class="data">
      <ng-container [ngTemplateOutlet]="dataEl"></ng-container>
    </div>
  }
  <ng-template #dataEl>
    <ng-container
      *ngComponentOutlet="data.component; inputs: data.options.inputs"
    ></ng-container>
  </ng-template>
}
@let children = node().children;
@if (children.length) {
  <ul [attr.id]="childListId" [@expanded]="!isCollapsible || isExpanded()">
    @for (child of children; track child) {
      <li>
        <app-collapsible-tree
          [node]="child"
          [isCollapsibleFn]="isCollapsibleFn()"
          [depth]="depth() + 1"
          [parent]="this"
        >
        </app-collapsible-tree>
      </li>
    }
  </ul>
}
