<ng-container *ngIf="node.data">
  <ng-container *ngIf="isCollapsible; else leaf">
    <button
      type="button"
      class="data"
      [attr.aria-expanded]="isExpanded"
      [attr.aria-controls]="childListId"
      (click)="isExpanded ? this.collapse() : this.expand()"
    >
      <span class="caret" aria-hidden="true">
        {{ isExpanded ? expandedIcon : collapsedIcon }}
      </span>
      <ng-container [ngTemplateOutlet]="data"></ng-container>
    </button>
  </ng-container>
  <ng-template #leaf>
    <div class="data">
      <ng-container [ngTemplateOutlet]="data"></ng-container>
    </div>
  </ng-template>
  <ng-template #data>
    <ng-container
      *ngComponentOutlet="node.data.component; inputs: node.data.options.inputs"
    ></ng-container>
  </ng-template>
</ng-container>
<ul
  *ngIf="node.children.length"
  [attr.id]="childListId"
  [@expanded]="!isCollapsible || isExpanded"
  [style.visibility]="isCollapsible ? 'hidden' : undefined"
>
  <li *ngFor="let child of node.children">
    <app-collapsible-tree
      [node]="child"
      [isCollapsibleFn]="isCollapsibleFn"
      [depth]="depth + 1"
      [parent]="this"
    >
    </app-collapsible-tree>
  </li>
</ul>
