@use 'margins';
@use 'material-symbols';

:host {
  .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    word-break: break-word;
    font-size: 1.25rem;
    gap: margins.$s;
    text-align: left;

    // If we move it outside this selector, conflicts with root <a> styles
    ::ng-deep a {
      text-decoration-thickness: 1px;
    }

    .data[aria-expanded] + app-profile-description-list .data {
      font-size: 1.25rem;
    }
  }

  @include material-symbols.class {
    font-size: 1em;
    @include material-symbols.variation-settings(
      $fill: true,
      $weight: 700,
      $grade: 200,
      $size: 24
    );
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
  }

  .caret {
    font-size: 0.5em;
    width: 0.75em;
  }

  // Content-specific customizations
  ::ng-deep a.craft {
    text-decoration-color: currentColor;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: margins.$m;
    overflow: hidden;

    ul {
      margin-left: margins.$l;

      > li:first-child {
        margin-top: margins.$m;
      }
    }
  }
}
