@mixin color($theme) {
  $background-palette: map-get($theme, background);

  app-window {
    background: map-get($background-palette, z0);

    > * {
      border-color: map-get($theme, hairline);
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
}
