<app-toolbar class="hideIfNoScript"></app-toolbar>
<app-profile></app-profile>
<noscript>
  <app-no-script></app-no-script>
</noscript>
<app-navigation-tabs class="hideIfNoScript"></app-navigation-tabs>
<app-contacts></app-contacts>
<app-social-networks></app-social-networks>
<script>
  const tabBar = document.getElementsByTagName("ul").item(0);
  tabBar.setAttribute('style', '');
  const tabContents = Array.from(document.getElementsByClassName("tab-content"));
  const selectedByDefault = 0;
  tabContents.forEach((item, index) => {
    if (index === selectedByDefault) {
      return;
    }
    item.setAttribute('style', 'display: none');
  });
  const tabItems = Array.from(tabBar.children);
  tabItems.at(selectedByDefault).classList.add('selected');
  tabItems.forEach((item, index) => {
    // Ignore if linking to another place
    if (item.children.length > 0 && item.children[0].tagName.toLowerCase() === "a") {
      return;
    }
    item.addEventListener("click", () => {
      const selectedIndex = tabItems.findIndex((tabItem) => tabItem.classList.contains("selected"));
      tabContents.at(selectedIndex).setAttribute('style', 'display: none');
      tabContents.at(index).setAttribute('style', '');
      tabItems.at(selectedIndex).classList.remove('selected');
      item.classList.add('selected');
    });
  });
</script>
