@use 'sass:map';
@use 'animations';
@use 'borders';

@mixin color($theme) {
  $background-palette: map.get($theme, background);
  $text-palette: map.get($theme, text);

  app-attribute {
    color: map.get($text-palette, secondary);

    [role='tooltip'] {
      color: map.get($text-palette, primary);
      background-color: map.get($background-palette, z2);
      border-color: borders.panel-color($theme);
    }
  }
}

@mixin motion {
  app-attribute {
    @include animations.single-transition(color);
  }
}
