@use 'borders';
@use 'margins';
@use 'paddings';

:host {
  position: relative;
  cursor: pointer;

  &:hover {
    [role='tooltip'] {
      display: inline-block;
    }
  }

  [role='tooltip'] {
    display: none;
    font-size: 1rem;
    position: absolute;
    width: max-content;
    right: 100%;
    margin: 0 margins.$s;
    padding: paddings.$s;
    text-align: right;
    @include borders.panel-style-width();
  }
}
