@use 'animations';
@use 'card-header-image';

:host {
  width: card-header-image.$size;
}

img {
  border-radius: card-header-image.$size;
  filter: var(--img-filter);
  @include animations.when-motion {
    @include animations.single-transition(filter, animations.$emphasized-style);
  }
}
