<article appCard>
  @let item = this.item();
  <header appCardHeader>
    <app-link [href]="item.company.website?.toString()" appTestId="image">
      <app-card-header-image
        [src]="item.company.imageSrc"
        [alt]="item.company.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <app-card-header-title appTestId="company-name">
        {{ item.company.name }}
      </app-card-header-title>
      <app-card-header-subtitle appTestId="position">
        {{ item.position }}
      </app-card-header-subtitle>
      <app-card-header-detail>
        <app-date-range [range]="item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      @if (item.isFreelance) {
        <app-attribute
          [symbol]="_materialSymbol.Work"
          [appTestId]="_attribute.Freelance"
        >
          Freelance
        </app-attribute>
      } @else {
        <app-attribute
          [symbol]="_materialSymbol.Badge"
          [appTestId]="_attribute.Employee"
        >
          Employee
        </app-attribute>
      }
      @if (item.isInternship) {
        <app-attribute
          [symbol]="_materialSymbol.School"
          [appTestId]="_attribute.Internship"
        >
          Internship
        </app-attribute>
      }
      @if (item.hasMorePositions) {
        <app-attribute
          [symbol]="_materialSymbol.More"
          [appTestId]="_attribute.MorePositions"
        >
          More positions during this period<br />
          See summary for details
        </app-attribute>
      }
      @if (item.hasPromotions) {
        <app-attribute
          [symbol]="_materialSymbol.ToolsLadder"
          [appTestId]="_attribute.Promotions"
        >
          Promotions during this period<br />See highlights for details
        </app-attribute>
      }
    </app-card-header-attributes>
  </header>
  <app-chipped-content [contents]="_contents()"></app-chipped-content>
</article>
