<app-card>
  <app-card-header>
    <app-link [href]="_item.company.website?.toString()" appTestId="image">
      <app-card-header-image
        [src]="_item.company.imageSrc"
        [alt]="_item.company.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <app-card-header-title appTestId="company-name">
        {{ _item.company.name }}
      </app-card-header-title>
      <app-card-header-subtitle appTestId="position">
        {{ _item.position }}
      </app-card-header-subtitle>
      <app-card-header-detail>
        <app-date-range [range]="_item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      @if (!_item.freelance) {
        <app-attribute
          [symbol]="MaterialSymbol.Badge"
          [appTestId]="Attribute.Employee"
        >
          Employee
        </app-attribute>
      } @else {
        <app-attribute
          [symbol]="MaterialSymbol.Work"
          [appTestId]="Attribute.Freelance"
        >
          Freelance
        </app-attribute>
      }
      <ng-template #freelance>
        <app-attribute
          [symbol]="MaterialSymbol.Work"
          [appTestId]="Attribute.Freelance"
        >
          Freelance
        </app-attribute>
      </ng-template>
      @if (_item.internship) {
        <app-attribute
          [symbol]="MaterialSymbol.School"
          [appTestId]="Attribute.Internship"
        >
          Internship
        </app-attribute>
      }
      @if (_item.morePositions) {
        <app-attribute
          [symbol]="MaterialSymbol.More"
          [appTestId]="Attribute.MorePositions"
        >
          More positions during this period<br />
          See summary for details
        </app-attribute>
      }
      @if (_item.promotions) {
        <app-attribute
          [symbol]="MaterialSymbol.ToolsLadder"
          [appTestId]="Attribute.Promotions"
        >
          Promotions during this period<br />See highlights for details
        </app-attribute>
      }
    </app-card-header-attributes>
  </app-card-header>
  <app-chipped-content [contents]="_contents"></app-chipped-content>
</app-card>
