<article appContentPage>
  <header>
    <h1>{{ _basics.name }}</h1>
    <span class="label">{{ _basics.label }}</span>
    <p>{{ _basics.summary }}</p>
    <ul>
      @for (item of _traditionalContacts; track item) {
        <li>
          <a [href]="item.href" [attr.aria-label]="item.label"
            ><span appMaterialSymbol>{{ item.icon }}</span> {{ item.text }}</a
          >
        </li>
      }
      @for (item of _socialContacts; track item) {
        <li>
          <a [href]="item.href" [attr.aria-label]="item.label">
            <ng-icon [svg]="item.icon"></ng-icon>
            {{ item.text }}</a
          >
        </li>
      }
    </ul>
    <hr />
  </header>
  <main>
    <section>
      <h2>Experience</h2>
      @for (item of _work; track item) {
        <article>
          <header>
            @let name = item.company.shortName || item.company.name;
            <h3>
              {{ item.position }} &#64;
              <app-link [href]="item.company.website?.toString()"
                >{{ name }}
              </app-link>
            </h3>
            <app-date-range [range]="item.dateRange"></app-date-range>
          </header>
          <main>
            <p>{{ item.summary }}</p>
            @if (item.highlights.length) {
              <ul>
                @for (highlight of item.highlights; track highlight) {
                  <li [innerHTML]="highlight | mdLinks"></li>
                }
              </ul>
            }
          </main>
        </article>
      }
    </section>
    <section>
      <h2>Education</h2>
      @for (item of _education; track item) {
        <article>
          <header>
            @let name = item.institution.shortName || item.institution.name;
            <h3>
              {{ item.studyType }} - {{ item.area }} &#64;
              <app-link [href]="item.institution.website?.toString()"
                >{{ name }}
              </app-link>
            </h3>
            <app-date-range [range]="item.dateRange"></app-date-range>
          </header>
          <main>
            <p>{{ item.score }}</p>
            @if (item.courses.length) {
              <ul class="two-col">
                @for (course of item.courses; track course) {
                  <li>{{ course }}</li>
                }
              </ul>
            }
          </main>
        </article>
      }
    </section>
    <section>
      <h2>Projects</h2>
      @for (item of _projects; track item) {
        <article>
          <header>
            <h3>
              {{ item.name }} &#64;
              <app-link [href]="item.website?.toString()"
                >{{ item.entity }}
              </app-link>
            </h3>
            <app-date-range [range]="item.dateRange"></app-date-range>
          </header>
          <main>
            {{ item.description }}
          </main>
        </article>
      }
    </section>
    <section>
      <h2>Languages</h2>
      <dl class="langs">
        @for (item of _languages; track item) {
          <dt>
            <code>({{ item.tag }})</code> {{ item.name }}
          </dt>
          <dd>{{ item.fluency }}</dd>
        }
      </dl>
    </section>
  </main>
</article>
