<article appContentPage>
  <div role="note">
    <span appMaterialSymbol>{{ _materialSymbols.EnergySavingsLeaf }}</span>
    Let's be environmentally friendly: please avoid printing this document
  </div>
  <header>
    @let profile = _profile();
    @if (profile) {
      <h1>{{ profile.name }}</h1>
      <span class="label">{{ profile.label }}</span>
      <p>{{ profile.summary }}</p>
    }
    @let contacts = _contacts() ?? [];
    @let socials = _socials() ?? [];
    @if (contacts.length || socials.length) {
      <ul>
        @for (contact of contacts; track contact) {
          <li>
            <a [href]="contact.url.toString()" [attr.aria-label]="contact.label"
              ><span appMaterialSymbol>{{ contact.icon }}</span>
              {{ contact.text }}</a
            >
          </li>
        }
        @for (social of socials; track social) {
          <li>
            <a [href]="social.url.toString()" [attr.aria-label]="social.label">
              <ng-icon [svg]="social.icon"></ng-icon>
              {{ social.text }}</a
            >
          </li>
        }
      </ul>
    }
    <hr />
  </header>
  <main>
    <section>
      <h2>Experience</h2>
      @for (experience of _experiences(); track experience) {
        <article>
          <header>
            @let name = experience.company.shortName || experience.company.name;
            <h3>
              {{ experience.position }} &#64;
              <app-link [href]="experience.company.website?.toString()"
                >{{ name }}
              </app-link>
            </h3>
            <app-date-range [range]="experience.dateRange"></app-date-range>
          </header>
          <main>
            <p>{{ experience.summary }}</p>
            @if (experience.highlights.length) {
              <ul>
                @for (highlight of experience.highlights; track highlight) {
                  <li [innerHTML]="highlight | mdLinks"></li>
                }
              </ul>
            }
          </main>
        </article>
      }
    </section>
    <section>
      <h2>Education</h2>
      @for (education of _educations(); track education) {
        <article>
          <header>
            @let name =
              education.institution.shortName || education.institution.name;
            <h3>
              {{ education.studyType }} - {{ education.area }} &#64;
              <app-link [href]="education.institution.website?.toString()"
                >{{ name }}
              </app-link>
            </h3>
            <app-date-range [range]="education.dateRange"></app-date-range>
          </header>
          <main>
            <p>{{ education.score }}</p>
            @if (education.courses.length) {
              <ul class="two-col">
                @for (course of education.courses; track course) {
                  <li>{{ course }}</li>
                }
              </ul>
            }
          </main>
        </article>
      }
    </section>
    <section>
      <h2>Projects</h2>
      @for (project of _projects(); track project) {
        <article>
          <header>
            <h3>
              <app-link [href]="project.website?.toString()">{{
                project.name
              }}</app-link>
              &#64; {{ project.entity }}
            </h3>
            <app-date-range [range]="project.dateRange"></app-date-range>
          </header>
          <main>
            {{ project.description }}
          </main>
        </article>
      }
    </section>
    <section>
      <h2>Languages</h2>
      <dl class="langs">
        @for (item of _languages; track item) {
          <div>
            <dt>
              <code>({{ item.tag }})</code> {{ item.name }}
            </dt>
            <dd>{{ item.fluency }}</dd>
          </div>
        }
      </dl>
    </section>
  </main>
</article>
