<app-card>
  <app-card-header>
    <app-link [href]="item.institution.website?.toString()" appTestId="image">
      <app-card-header-image
        [src]="item.institution.image.toString()"
        [alt]="item.institution.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <app-card-header-title>
        <app-link
          [href]="item.institution.website?.toString()"
          appTestId="institution-name"
        >
          {{ item.institution.name }}
        </app-link>
      </app-card-header-title>
      <app-card-header-subtitle appTestId="study-type">
        {{ item.studyType }}
      </app-card-header-subtitle>
      <app-card-header-subtitle appTestId="area">
        {{ item.area }}
      </app-card-header-subtitle>
      <app-card-header-detail>
        <app-date-range [range]="item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      <app-attribute
        *ngIf="item.cumLaude"
        [id]="getAttributeId(Attribute.CumLaude)"
        [symbol]="MaterialSymbol.SocialLeaderboard"
        [appTestId]="Attribute.CumLaude"
      >
        Cum laude
      </app-attribute>
    </app-card-header-attributes>
  </app-card-header>
</app-card>
