<app-card>
  <div class="header">
    <app-link
      [href]="item.institution.website?.toString()"
      data-test-id="image"
    >
      <app-card-header-image
        [src]="item.institution.image.toString()"
        [alt]="item.institution.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <div class="text">
      <app-card-header-title>
        <app-link
          [href]="item.institution.website?.toString()"
          data-test-id="institution-name"
        >
          {{ item.institution.name }}
        </app-link>
      </app-card-header-title>
      <app-card-header-subtitle data-test-id="study-type">
        {{ item.studyType }}
      </app-card-header-subtitle>
      <app-card-header-subtitle data-test-id="area">
        {{ item.area }}
      </app-card-header-subtitle>
      <span class="dates">
        <app-date-range [range]="item.dateRange"></app-date-range>
      </span>
    </div>
    <div class="attributes">
      <div class="cum-laude attribute" *ngIf="item.cumLaude">
        <span
          [class]="MATERIAL_SYMBOLS_CLASS"
          [attr.aria-describedby]="cumLaudeAttributeTooltipId"
          tabindex="0"
        >
          {{ MaterialSymbol.SocialLeaderboard }}
        </span>
        <div [id]="cumLaudeAttributeTooltipId" role="tooltip">Cum laude</div>
      </div>
    </div>
  </div>
</app-card>
