@use 'animations';
@use 'margins';

:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: var(--app-color-toolbar-background);
  color: var(--ui-text);

  @include animations.when-motion {
    @include animations.single-transition(
      (background-color),
      animations.$emphasized-style
    );
  }
}
