@use 'margins';
@use 'paddings';
@use 'borders';
@use 'animations';

:host {
  display: flex;
  flex-direction: column;
  gap: margins.$m;
  padding: paddings.$m;
  @include borders.panel;
  background-color: var(--sys-color-surface1);

  @include animations.define-with-host-context {
    @include animations.multiple-transitions(
      (background-color, border-color),
      animations.$emphasized-style
    );
  }
}
