<h2 appSectionTitle id="profile">Profile</h2>
<div class="layout">
  <div class="contents">
    <div class="profile">
      <app-profile-picture></app-profile-picture>
      <div class="name">
        <span class="real-name">{{ realName }}</span>
        <code class="nickname">&#64;{{ nickname }}</code>
      </div>
      <span class="headline">{{ title }}</span>
      @let basics = _basics();
      @if (basics) {
        <app-profile-contacts
          [contacts]="basics.contacts"
          [socials]="basics.socials"
        ></app-profile-contacts>
      }
    </div>
    <app-profile-description></app-profile-description>
  </div>
</div>
