@use 'sass:list';
@use 'sass:map';

$panel-width: 1px;
$panel-color: var(--hairline);

@function panel-color($theme) {
  @return var(--hairline);
}

@mixin panel-style-width($side: 'all') {
  $panel-style: solid;

  @if ($side == 'all') {
    border-width: $panel-width;
    border-style: $panel-style;
  } @else {
    border-#{$side}-style: $panel-style;
    border-#{$side}-width: $panel-width;
  }
}
