@use 'paddings';
@use 'borders';
@use 'toolbar';

$padding-height: calc(2 * #{toolbar.$vertical-padding});
$border-height: borders.$panel-width;

$height: calc(#{toolbar.$icons-height} + $padding-height + $border-height);
