@use 'sass:math';
@use 'helpers/units';

@mixin imports {
  @font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    font-display: block;
    src:
      url('../../data/generated/font-subsets/material-symbols-outlined.woff2')
        format('woff2'),
      url('../../data/generated/font-subsets/material-symbols-outlined.woff')
        format('woff'),
      url('../../data/generated/font-subsets/material-symbols-outlined.ttf')
        format('truetype');
  }
}

@mixin styles {
  @include class {
    //noinspection CssNoGenericFontName
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    //font-size: 24px;
    // 👇 To allow scale match font size
    //    It will probably also be 24px if user has default font size set (16px)
    @include font-size(1.5em);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  @include class {
    @include variation-settings;
  }
}

@mixin class {
  .material-symbols-outlined {
    @content;
  }
}

@mixin font-size($size) {
  & {
    font-size: max($size, 20px);
  }
}

@mixin variation-settings($fill: false, $weight: 400, $grade: 0, $size: 24) {
  $sizeUnit: math.unit($size);
  @if $sizeUnit == 'px' {
    $size: units.strip($size);
  } @else if $sizeUnit != '' {
    @error "Size cannot have units other than 'px' (#{$size})";
  }

  & {
    font-variation-settings:
      'FILL' if($fill, 1, 0),
      'wght' $weight,
      'GRAD' $grade,
      'opsz' $size;
  }
}
