@use 'margins';
@use 'material-symbols';
@use 'borders';
@use 'animations';

@mixin imports {
  @import '@fontsource/roboto/300.css';
  @import '@fontsource/roboto/400.css';
  @import '@fontsource/roboto/700.css';
  @import '@fontsource/roboto-mono/400.css';
}

$body-font-family: 'Roboto', 'Helvetica', sans-serif;
@mixin body-font {
  font-family: $body-font-family;
}

@mixin monospace-font {
  font-family: 'Roboto Mono', 'Courier New', monospace;
}

@mixin styles {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  h1 {
    padding-bottom: 0.25em;
    @include borders.panel(bottom);
    border-bottom-width: 2px;
    @include animations.single-transition(border-bottom);
  }

  h1,
  h2 {
    display: flex;
    align-items: center;
    gap: margins.$s;
    @include material-symbols.class {
      height: 1em;
      font-size: inherit;
    }
  }
}

@mixin print-imports {
  @import '@fontsource/noto-sans/400.css';
}

@mixin print-font {
  font-family: 'Noto Sans', $body-font-family;
  font-optical-sizing: auto;
  font-weight: normal;
}
