@mixin imports {
  @import '@fontsource/roboto/300.css';
  @import '@fontsource/roboto/400.css';
  @import '@fontsource/roboto/700.css';
  @import '@fontsource/roboto-mono/400.css';
}

$body-font-family: 'Roboto', 'Helvetica', sans-serif;
@mixin body-font {
  font-family: $body-font-family;
}

@mixin monospace-font {
  font-family: 'Roboto Mono', 'Courier New', monospace;
}

@mixin styles {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
  }
}

@mixin print-imports {
  @import '@fontsource/noto-sans/400.css';
}

@mixin print-font {
  font-family: 'Noto Sans', $body-font-family;
  font-optical-sizing: auto;
  font-weight: normal;
}
