@mixin body-font {
  font-family: "Tahoma", Helvetica, sans-serif;
}

@mixin monospace-font {
  font-family: "Courier New", monospace;
}

@mixin material-symbols-font {
  @font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    font-display: block;
    src: url('../../assets/material-symbols-outlined-subset.woff2') format('woff2'),
    url('../../assets/material-symbols-outlined-subset.woff') format('woff');
  }

  .material-symbols-outlined {
    //noinspection CssNoGenericFontName
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
  }
}
