@use "scss/margins" as margins;
@use "scss/paddings" as paddings;

:host {
  display: block;
  padding: paddings.$m;

  ul {
    display: flex;
    gap: margins.$m;
    flex-wrap: wrap;
    justify-content: center;

    li {
      border-radius: 2px;
      border-style: solid;
      border-width: 1px;

      a {
        display: flex;
        gap: margins.$s;
        padding: paddings.$s;

        span:first-child {
          display: inline-block;
          height: 1em;
          width: 1em;

          svg {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}


