# 👇 Needed by for `release-it` custom `whatBump` types
public-hoist-pattern[]=conventional-recommended-bump
# 👇 Needed by for `release-it` conventional changelog plugin
public-hoist-pattern[]=conventional-changelog-conventionalcommits
# 👇 Used by ESLint configuration
public-hoist-pattern[]=@eslint/js
