# 👇 Needed for `release-it`'s config to type custom `whatBump` function
public-hoist-pattern[]=conventional-recommended-bump
# 👇 Needed by `release-it` conventional changelog plugin
public-hoist-pattern[]=conventional-changelog-conventionalcommits
# 👇 Used by ESLint configuration
public-hoist-pattern[]=@eslint/js
