<app-h2 id="profile">Profile</app-h2>
<div class="layout">
  <div class="contents">
    <div class="profile">
      <app-profile-picture></app-profile-picture>
      <div class="name">
        <span class="real-name">{{ realName }}</span>
        <code class="nickname">@{{ nickname }}</code>
      </div>
      <span class="headline">{{ title }}</span>
      <div class="contacts">
        <app-profile-contact-traditional-icons></app-profile-contact-traditional-icons>
        <app-profile-contact-social-icons></app-profile-contact-social-icons>
      </div>
    </div>
    <app-profile-description [line]="rootLine"></app-profile-description>
  </div>
</div>
