<article appCard>
  @let item = experience();
  <header appCardHeader>
    <app-link [href]="item.company.website?.toString()" appTestId="image">
      <app-card-header-image
        [src]="item.company.imageSrc"
        [alt]="item.company.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <h3 appTestId="company-name">{{ item.company.name }}</h3>
      <h4 appTestId="position">{{ item.position }}</h4>
      <app-card-header-detail>
        <app-date-range [range]="item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-attributes [attributes]="item.attributes"></app-attributes>
  </header>
  @let contents = _contents();
  @if (contents) {
    <app-chipped-content [contents]="contents"></app-chipped-content>
  }
</article>
