@use 'sass:map';
@use 'animations';

@mixin color($theme) {
  app-chip {
    background-color: var(--chips-bg);
    color: var(--chips-fg);
    border-color: var(--chips-border);

    &.selected {
      background-color: var(--chips-selected);
      border-color: var(--chips-selected);
      color: var(--chips-selected-text);
    }
  }
}
@mixin motion() {
  app-chip {
    @include animations.multiple-transitions(
      (background-color, color, border-color),
      animations.$emphasized-style
    );
  }
}
