@use 'sass:map';
@use 'animations';

@mixin color($theme) {
  app-chip {
    $chip-theme: map.get($theme, chips);
    background-color: map.get($chip-theme, background);
    color: map.get($chip-theme, text);
    border-color: map.get($chip-theme, border);

    &.selected {
      background-color: map.get($chip-theme, selected);
      border-color: map.get($chip-theme, selected);
      color: map.get($chip-theme, selectedText);
    }
  }
}
@mixin motion() {
  app-chip {
    @include animations.multiple-transitions(
      (background-color, color, border-color),
      animations.$emphasized-style
    );
  }
}
