@use 'borders';
@use 'paddings';
@use 'animations';

:host {
  padding: paddings.$s;
  @include borders.panel;
  border-radius: 1em;
  font-size: 1rem;
  background-color: var(--sys-color-neutral-container);
  color: var(--sys-color-on-surface);
  border-color: var(--adorner-border-color);

  @include animations.when-motion-host-context {
    @include animations.multiple-transitions(
      (background-color, color, border-color),
      animations.$emphasized-style
    );
  }

  &.selectable {
    cursor: pointer;
  }

  &:hover {
    background-color: var(--sys-color-state-hover-dim-blend-protection);
  }

  &.selected {
    background-color: var(--sys-color-primary);
    border-color: var(--sys-color-primary);
    color: var(--sys-color-cdt-base-container);
  }
}
