@use 'borders';
@use 'paddings';
@use 'animations';

:host {
  padding: paddings.$s;
  @include borders.panel;
  border-radius: 1em;
  font-size: 1rem;
  background-color: var(--chips-bg);
  color: var(--chips-fg);

  @include animations.define {
    @include animations.multiple-transitions(
      (background-color, color, border-color),
      animations.$emphasized-style
    );
  }

  &.selectable {
    cursor: pointer;
  }

  &.selected {
    background-color: var(--chips-selected);
    border-color: var(--chips-selected);
    color: var(--chips-selected-text);
  }
}
