@use 'borders';
@use 'header';
@use 'paddings';
@use 'z-index';
@use 'animations';
@use 'quirks';

:host {
  display: block;
  position: sticky;
  top: header.$height;
  transform: translateY(-#{borders.$panel-width});
  z-index: z-index.$headers;

  font-weight: normal;

  @include quirks.leftBorderDisappearance;
  @include borders.panel(bottom, top);

  @include animations.when-motion {
    @include animations.multiple-transitions(
      (color, background-color, border-color),
      animations.$emphasized-style
    );
  }
}

app-toolbar {
  padding: paddings.$s paddings.$l;
  font-size: 1.25rem;
}
