@mixin color($theme) {
  $text-palette: map-get($theme, text);

  app-contact-social-icons {
    color: map-get($theme, icon);

    li:hover {
      color: map-get($text-palette, secondary);
    }
  }
}
