@use 'borders';
@use 'margins';
@use 'paddings';
@use 'page';
@use 'z-index';

:host {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex-grow: 1;
  }

  app-presentation {
    flex-basis: 100%;
  }
}

::ng-deep app-presentation app-h2 h2 {
  border-top-style: none !important;
}
