@use "scss/paddings" as paddings;
@use "scss/typographies" as typographies;

:host {
  @include typographies.monospace-font;

  // Component can't set display:flex due to JS always show setting display to block
  div.flex-box {
    display: flex;
    justify-content: center;
    padding: paddings.$m;
    direction: ltr;
  }

  dl {
    text-align: left;
    line-height: 1.85em;

    dd, dt {
      display: inline;
    }

    dd {
      word-break: break-all;
    }

    a {
      text-decoration: underline;
    }
  }
}
