@use "src/paddings" as paddings;
@use "src/typographies" as typographies;

:host {
  // See HTML for reason why this can't be set directly to host component
  div.flex-box {
    display: flex;
    justify-content: center;
    padding: paddings.$m;
    direction: ltr;
  }

  dl {
    text-align: left;
    @include typographies.monospace-font;

    dt:before {
      content: '  "';
      white-space: pre;
    }

    dt:after {
      content: '":'
    }

    dd:before {
      content: ' "';
      white-space: pre;
    }

    dd:after {
      content: '",'
    }

    dd, dt {
      display: inline;
    }

    dd {
      word-break: break-all;
    }

    a {
      text-decoration: underline;
    }
  }
}
