@use "src/paddings" as paddings;

:host {
  display: flex;
  justify-content: center;
  padding: paddings.$m;

  dl {
    text-align: left;
    font-family: monospace;
    font-size: 1.2em;

    dt:before {
      content:'    "';
      white-space: pre;
    }
    dt:after {
      content:'":'
    }
    dd:before {
      content: ' "';
      white-space: pre;
    }
    dd:after {
      content: '",'
    }
    dd,dt {
      display: inline-block;
    }

    a {
      text-decoration: underline;
    }
  }
}
