<app-card>
  <app-card-header>
    <app-link [href]="_item.institution.website?.toString()" appTestId="image">
      <app-card-header-image
        [src]="_item.institution.imageSrc"
        [alt]="_item.institution.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <app-card-header-title appTestId="institution-name">
        {{ _institutionDisplayName }}
      </app-card-header-title>
      <app-card-header-subtitle appTestId="study-type">
        {{ _item.studyType }}
      </app-card-header-subtitle>
      <app-card-header-subtitle appTestId="area">
        {{ _item.area }}
      </app-card-header-subtitle>
      <app-card-header-detail>
        <app-date-range [range]="_item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      <app-attribute
        *ngIf="_item.cumLaude"
        [symbol]="MaterialSymbol.SocialLeaderboard"
        [appTestId]="Attribute.CumLaude"
      >
        Cum laude
      </app-attribute>
    </app-card-header-attributes>
  </app-card-header>
  <app-chipped-content [contents]="_contents"></app-chipped-content>
</app-card>
