<article appCard>
  @let item = this.item();
  <header appCardHeader>
    <app-link [href]="item.institution.website?.toString()" appTestId="image">
      <app-card-header-image
        [src]="item.institution.imageSrc"
        [alt]="item.institution.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <h3 appTestId="institution-name">
        {{ _institutionDisplayName() }}
      </h3>
      <h4>{{ item.studyType }} - {{ item.area }}</h4>
      <app-card-header-detail>
        <app-date-range [range]="item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      @if (item.isCumLaude) {
        <app-attribute
          [symbol]="_materialSymbol.SocialLeaderboard"
          [appTestId]="_attribute.CumLaude"
        >
          Cum laude
        </app-attribute>
      }
    </app-card-header-attributes>
  </header>
  <app-chipped-content [contents]="_contents()"></app-chipped-content>
</article>
