@use '../../../../sass/animations';

@mixin color($theme) {
  $background-palette: map-get($theme, background);
  $image-opts: map-get($theme, image);

  app-profile-picture {
    img {
      background-color: map-get($background-palette, z1);
      border-color: map-get($theme, hairline);
      filter: map-get($image-opts, filter);
    }

    .comment {
      background-color: map-get($background-palette, z2);

      &:before {
        border-right-color: map-get($background-palette, z2) !important;
      }
    }

    // Bubble speech is at top on super small screens
    @media screen and (max-width: 279.98px) {
      .comment:before {
        border-right-color: transparent !important;
        border-bottom-color: map-get($background-palette, z2) !important;
      }
    }
  }
}

@mixin motion() {
  app-profile-picture {
    img {
      transition: animations.transition(opacity, animations.$standard-style),
        animations.transition(visibility, animations.$standard-style),
        animations.transition(filter, animations.$emphasized-style),
        animations.transition(background-color, animations.$emphasized-style);
    }

    .comment {
      @include animations.multiple-transitions(
        (opacity, visibility),
        animations.$standard-style
      );
    }
  }
}
