@use 'sass:map';
@use 'animations';
@use 'borders';

@mixin color($theme) {
  $image-opts: map.get($theme, image);
  $background-palette: map.get($theme, background);
  $text-palette: map.get($theme, text);

  app-position {
    background-color: map.get($background-palette, z1);
    border-color: borders.panel-color($theme);

    .header {
      img {
        filter: map.get($image-opts, filter);
      }

      .role,
      .dates {
        color: map.get($text-palette, secondary);
      }

      .attributes {
        color: map.get($text-palette, secondary);

        [role='tooltip'] {
          color: map.get($text-palette, primary);
          background-color: map.get($background-palette, z2);
          border-color: borders.panel-color($theme);
        }
      }
    }
  }
}

@mixin motion() {
  app-position {
    .header {
      img {
        @include animations.single-transition(
          filter,
          animations.$emphasized-style
        );
      }
    }
  }
}
