@use "touch-or-pointer";
@mixin color($theme) {
  $text-palette: map-get($theme, text);

  app-toolbar {
    .dark-light-scheme-toggle {
      color: map-get($theme, icon);

      @include touch-or-pointer.primaryInputCanHover {
        &:hover {
          color: map-get($text-palette, primary);
        }
      }
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
}

