@mixin color($theme) {
  $text-palette: map-get($theme, text);

  app-toolbar {
    .dark-light-scheme-toggle {
      fill: map-get($theme, icon);

      &:hover {
        fill: map-get($text-palette, primary);
      }
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
}

