@use "paddings";

:host {
  padding: paddings.$xs;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    border-style: none;
    background: transparent;

    span {
      font-size: 24px;
    }
  }
}
