:host {
  padding: 3px 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    border-style: none;
    background: transparent;
    line-height: 1em;

    > * {
      height: 18px;
      width: 18px;
    }
  }
}
