@use 'margins';
@use 'material-symbols';

:host {
  &.hidden {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: margins.$m;
  }

  // Indentation for nested lists
  ul ul {
    margin-left: margins.$l;
  }

  ul ul > li:first-child {
    margin-top: margins.$m;
  }

  .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    word-break: break-word;
    font-size: 1.5rem;
    gap: margins.$s;
    text-align: left;

    // If we move it outside this selector, conflicts with root <a> styles
    ::ng-deep a {
      text-decoration-thickness: 1px;
    }
  }

  @include material-symbols.class {
    font-size: 1em;
    @include material-symbols.variation-settings(
      $fill: true,
      $weight: 700,
      $grade: 200,
      $size: 24
    );
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
  }

  .caret {
    font-size: 0.5em;
    width: 0.75em;
  }

  // Content-specific customizations
  ::ng-deep a.craft {
    text-decoration-color: currentColor;
  }

  .data[aria-expanded='false'] + ul {
    overflow: hidden;
  }

  .data[aria-expanded] + ul .data {
    font-size: 1.25rem;
  }
}
