@use 'borders';
@use 'margins';
@use 'paddings';
@use 'page';
@use 'z-index';

:host {
  display: flex;
  flex-direction: column;
}

::ng-deep app-profile-section app-section-title {
  border-top-style: none !important;
}
