@use 'paddings';
@use 'animations';
@use 'header';
@use 'touch-or-pointer';

:host {
  $bottom-border-width: 2px;
  cursor: pointer;
  float: left;
  padding: 0 paddings.$l;
  height: calc(#{header.$height} - $bottom-border-width);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-bottom-width: $bottom-border-width;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  color: var(--ui-text);

  &[aria-selected='true'] {
    color: var(--sys-color-primary);
    border-bottom-color: var(--sys-color-primary);
  }

  @include touch-or-pointer.primaryInputCanHover {
    &:not([aria-selected='true']):hover {
      color: var(--sys-color-on-surface);
    }
  }

  @include animations.define {
    @include animations.multiple-transitions(
      (border-bottom-color, color),
      animations.$emphasized-style
    );
  }
}
