@use 'paddings';
@use 'animations';
@use 'touch-or-pointer';

:host {
  display: flex;
  align-items: center;

  padding: paddings.$xs paddings.$l;

  cursor: pointer;

  border-bottom-width: 2px;
  border-bottom-color: transparent;
  border-bottom-style: solid;

  color: var(--ui-text);

  &[aria-selected='true'] {
    color: var(--sys-color-primary);
    border-bottom-color: var(--sys-color-primary);
  }

  @include touch-or-pointer.primaryInputCanHover {
    &:not([aria-selected='true']):hover {
      color: var(--sys-color-on-surface);
    }
  }

  @include animations.when-motion {
    @include animations.multiple-transitions(
      (border-bottom-color, color),
      animations.$emphasized-style
    );
  }
}
