<ng-container
  *ngIf="!isCollapsible || !isRenderingOnBrowser; else collapsibleTemplate"
>
  <div class="data" *ngIf="line.data">
    <ng-container [ngTemplateOutlet]="dataTemplate"></ng-container>
  </div>
</ng-container>
<ng-template #collapsibleTemplate>
  <button
    class="data"
    type="button"
    [attr.aria-expanded]="isExpanded"
    [attr.aria-controls]="sluggedId"
    (click)="isExpanded ? this.collapse() : this.expand()"
  >
    <span class="caret" aria-hidden="true">{{
      isExpanded ? config.expandedIcon : config.collapsedIcon
    }}</span>
    <ng-container [ngTemplateOutlet]="dataTemplate"></ng-container>
  </button>
</ng-template>
<ng-template #dataTemplate>
  <span class="symbol" aria-hidden="true" *ngIf="line.data" appMaterialSymbol>{{
    line.data.symbol
  }}</span>
  <span
    class="content"
    [innerHtml]="sanitizer.bypassSecurityTrustHtml(line.data?.html ?? '')"
  ></span>
</ng-template>
<ul
  *ngIf="line.children.length"
  [attr.id]="sluggedId"
  [@expanded]="isCollapsible ? isExpanded : true"
>
  <li *ngFor="let line of line.children">
    <app-description [line]="line" [depth]="depth + 1" [parent]="this">
    </app-description>
  </li>
</ul>
