@use 'sass:map';
@use 'animations';
@use 'borders';

@mixin color($theme) {
  $image-opts: map.get($theme, image);
  $background-palette: map.get($theme, background);
  $text-palette: map.get($theme, text);

  app-experience-item {
    .header {
      img {
        filter: map.get($image-opts, filter);
      }

      .role,
      .dates {
        color: map.get($text-palette, secondary);
      }

      .attribute {
        color: map.get($text-palette, secondary);

        [role='tooltip'] {
          color: map.get($text-palette, primary);
          background-color: map.get($background-palette, z2);
          border-color: borders.panel-color($theme);
        }
      }
    }

    $chip-theme: map.get($theme, chips);
    .chip {
      background-color: map.get($chip-theme, background);
      color: map.get($chip-theme, text);
      border-color: map.get($chip-theme, border);

      &.active {
        background-color: map.get($chip-theme, active);
        border-color: map.get($chip-theme, active);
        color: map.get($chip-theme, activeText);
      }
    }
  }
}

@mixin motion() {
  app-experience-item {
    .header {
      img {
        @include animations.single-transition(
          filter,
          animations.$emphasized-style
        );
      }
    }
    .chip {
      @include animations.multiple-transitions(
        (background-color, color, border-color),
        animations.$emphasized-style
      );
    }
  }
}
