<app-card>
  <app-card-header>
    <app-link [href]="item.company.website?.toString()" appTestId="image">
      <app-card-header-image
        [src]="item.company.image.toString()"
        [alt]="item.company.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <app-card-header-title>
        <app-link
          [href]="item.company.website?.toString()"
          appTestId="company-name"
        >
          {{ item.company.name }}
        </app-link>
      </app-card-header-title>
      <app-card-header-subtitle appTestId="role">
        {{ item.position }}
      </app-card-header-subtitle>
      <app-card-header-detail>
        <app-date-range [range]="item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      <app-attribute
        *ngIf="!item.freelance; else freelance"
        [symbol]="MaterialSymbol.Badge"
        [id]="getAttributeId(Attribute.Employee)"
        [appTestId]="Attribute.Employee"
      >
        Employee
      </app-attribute>
      <ng-template #freelance>
        <app-attribute
          [symbol]="MaterialSymbol.Work"
          [id]="getAttributeId(Attribute.Freelance)"
          [appTestId]="Attribute.Freelance"
        >
          Freelance
        </app-attribute>
      </ng-template>
      <app-attribute
        *ngIf="item.internship"
        [symbol]="MaterialSymbol.School"
        [id]="getAttributeId(Attribute.Internship)"
        [appTestId]="Attribute.Internship"
      >
        Internship
      </app-attribute>
      <app-attribute
        *ngIf="item.morePositions"
        [symbol]="MaterialSymbol.More"
        [id]="getAttributeId(Attribute.MorePositions)"
        [appTestId]="Attribute.MorePositions"
      >
        More positions during this period<br />
        See summary for details
      </app-attribute>
      <app-attribute
        *ngIf="item.promotions"
        [symbol]="MaterialSymbol.ToolsLadder"
        [id]="getAttributeId(Attribute.Promotions)"
        [appTestId]="Attribute.Promotions"
      >
        Promotions during this period<br />See highlights for details
      </app-attribute>
    </app-card-header-attributes>
  </app-card-header>
  <app-chipped-content [contents]="contents"></app-chipped-content>
</app-card>
