<app-card>
  <div class="header">
    <app-link [href]="item.company.website?.toString()" appTestId="image">
      <app-card-header-image
        [src]="item.company.image.toString()"
        [alt]="item.company.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <div class="text">
      <app-card-header-title>
        <app-link
          [href]="item.company.website?.toString()"
          appTestId="company-name"
        >
          {{ item.company.name }}
        </app-link>
      </app-card-header-title>
      <app-card-header-subtitle appTestId="role">
        {{ item.role }}
      </app-card-header-subtitle>
      <app-card-header-detail>
        <app-date-range [range]="item.dateRange"></app-date-range>
      </app-card-header-detail>
    </div>
    <div class="attributes">
      <div class="freelance attribute">
        <ng-container *ngIf="!item.freelance; else freelance">
          <span
            [class]="MATERIAL_SYMBOLS_CLASS"
            [attr.aria-describedby]="freelanceAttributeTooltipId"
            tabindex="0"
          >
            {{ MaterialSymbol.Badge }}
          </span>
          <div [id]="freelanceAttributeTooltipId" role="tooltip">Employee</div>
        </ng-container>
        <ng-template #freelance>
          <span
            [class]="MATERIAL_SYMBOLS_CLASS"
            [attr.aria-describedby]="freelanceAttributeTooltipId"
            tabindex="0"
          >
            {{ MaterialSymbol.Work }}
          </span>
          <div [id]="freelanceAttributeTooltipId" role="tooltip">Freelance</div>
        </ng-template>
      </div>
      <div class="internship attribute" *ngIf="item.internship">
        <span
          [class]="MATERIAL_SYMBOLS_CLASS"
          [attr.aria-describedby]="internshipAttributeTooltipId"
          tabindex="0"
        >
          {{ MaterialSymbol.School }}
        </span>
        <div [id]="internshipAttributeTooltipId" role="tooltip">Internship</div>
      </div>
      <div class="other-roles attribute" *ngIf="item.otherRoles">
        <span
          [class]="MATERIAL_SYMBOLS_CLASS"
          [attr.aria-describedby]="otherRolesAttributeTooltipId"
          tabindex="0"
        >
          {{ MaterialSymbol.More }}
        </span>
        <div [id]="otherRolesAttributeTooltipId" role="tooltip">
          More roles performed during this period. <br />See summary for details
        </div>
      </div>
      <div class="promotions attribute" *ngIf="item.promotions">
        <span
          [class]="MATERIAL_SYMBOLS_CLASS"
          [attr.aria-describedby]="promotionsAttributeTooltipId"
          tabindex="0"
        >
          {{ MaterialSymbol.ToolsLadder }}
        </span>
        <div [id]="promotionsAttributeTooltipId" role="tooltip">
          Promotions during this period. <br />See highlights for details
        </div>
      </div>
    </div>
  </div>
  <div class="chips displayNoneIfNoScript" *ngIf="availableContentTypes">
    <button
      class="chip"
      *ngFor="let chip of availableContentTypes"
      [class.active]="activeContentType === chip"
      (click)="onContentTypeClick(chip)"
    >
      {{ chip.displayName }}
    </button>
  </div>
  <div
    class="chip displayBlockIfNoScript"
    *ngIf="typeHasContent(SUMMARY_CONTENT_TYPE)"
  >
    {{ SUMMARY_CONTENT_TYPE.displayName }}
  </div>
  <div
    class="content summary"
    @contentActive
    *ngIf="
      !isRenderingOnBrowser || activeContentType?.id === ContentTypeId.Summary
    "
  >
    {{ item.summary }}
  </div>
  <div
    class="chip displayBlockIfNoScript"
    *ngIf="typeHasContent(HIGHLIGHT_CONTENT_TYPE)"
  >
    {{ HIGHLIGHT_CONTENT_TYPE.displayName }}
  </div>
  <div
    class="content highlights"
    @contentActive
    *ngIf="
      !isRenderingOnBrowser ||
      activeContentType?.id === ContentTypeId.Highlights
    "
  >
    <ul>
      <li *ngFor="let highlight of item.highlights">
        {{ highlight }}
      </li>
    </ul>
  </div>
</app-card>
