@use 'borders';
@use 'header';
@use 'paddings';
@use 'z-index';
@use 'animations';

:host {
  display: block;
  position: sticky;
  top: header.$height;
  transform: translateY(-#{borders.$panel-width});
  z-index: z-index.$headers;
  width: 100%;
  padding: paddings.$s paddings.$l;
  @include borders.panel(bottom, top);
  background-color: var(--app-color-toolbar-background);
  color: var(--ui-text);

  @include animations.when-motion {
    @include animations.multiple-transitions(
      (color, background-color, border-color),
      animations.$emphasized-style
    );
  }
}
