@use 'borders';
@use 'header';
@use 'paddings';
@use 'z-index';
@use 'animations';

:host {
  display: block;
  position: sticky;
  top: header.$height - header.$border-height;
  z-index: z-index.$headers;
  width: 100%;
  padding: paddings.$s paddings.$l;
  @include borders.panel(bottom, top);
  background-color: var(--bg-z1);
  color: var(--fg-secondary);

  @include animations.define {
    @include animations.multiple-transitions(
      (color, background-color, border-color),
      animations.$emphasized-style
    );
  }
}
