@use 'margins';
@use 'paddings';
@use 'touch-or-pointer';
@use 'animations';

:host {
  display: flex;
  flex-wrap: wrap;
  gap: margins.$m;
  padding: paddings.$s paddings.$l;
}

label {
  display: flex;
  align-items: center;
  gap: margins.$xs;
}

input[type='checkbox'] {
  $size: 12px;
  height: $size;
  width: $size;
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  accent-color: var(--sys-color-primary-bright);

  @include animations.single-transition(accent-color);

  &:not(:checked)::before {
    content: '';
    background-color: var(--unchecked-checkbox-accent);
    position: absolute;
    width: $size;
    height: $size;
    border-width: 1px;
    border-style: solid;
    border-color: var(--unchecked-checkbox-border);
    border-radius: 3px;
  }

  @include touch-or-pointer.primaryInputCanHover {
    &:hover::after,
    &:active::before {
      content: '';
      height: 2 * $size;
      width: 2 * $size;
      border-radius: var(--sys-shape-corner-full);
      position: absolute;
    }
  }

  &:not(:disabled):hover::after {
    background-color: var(--sys-color-state-hover-on-subtle);
  }
  &:not(:disabled):active::before {
    background-color: var(--sys-color-state-ripple-neutral-on-subtle);
  }

  &::before,
  &::after {
    @include animations.multiple-transitions((background-color, border-color));
  }
}
