@use 'margins';
@use 'paddings';
@use 'touch-or-pointer';

:host {
  display: flex;
  flex-wrap: wrap;
  gap: margins.$m;
  padding: paddings.$s paddings.$l;
}

label {
  display: flex;
  align-items: center;
  gap: margins.$xs;
}

input[type='checkbox'] {
  $size: 12px;
  height: $size;
  width: $size;
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--sys-color-cdt-base-container);
  accent-color: var(--sys-color-primary-bright);
  color: var(--sys-color-on-primary);

  // TODO: find out Chromium's dark mode unchecked colour
  &:not(:checked)::before {
    //content: '';
    //background-color: antiquewhite;
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 3px;
    padding: 1px;
  }

  @include touch-or-pointer.primaryInputCanHover {
    &:hover::after,
    &:active::before {
      content: '';
      height: 2 * $size;
      width: 2 * $size;
      border-radius: var(--sys-shape-corner-full);
      position: absolute;
    }
  }

  &:not(:disabled):hover::after {
    background-color: var(--sys-color-state-hover-on-subtle);
  }
  &:not(:disabled):active::before {
    background-color: var(--sys-color-state-ripple-neutral-on-subtle);
  }
}
