<div class="item" (click)="onClick()" [tabindex]="isCollapsable ? 0 : -1" (keydown)="onKeydown($event)">
  <span class="symbol material-symbols-outlined">{{ line.symbol }}</span>
  <span class="content" [innerHtml]="sanitizer.bypassSecurityTrustHtml(line.html)"></span>
  <div class="collapsable-buttons" *ngIf="isCollapsable">
    <button type="button" *ngIf="!collapsed" class="collapse material-symbols-outlined">{{ Icon.ExpandLess }}</button>
    <button type="button" *ngIf="collapsed" class="expand material-symbols-outlined">{{ Icon.ExpandMore }}</button>
  </div>
</div>
<ul *ngIf="line.lines && line.lines.length && !collapsed">
  <li *ngFor="let subLine of line.lines">
    <app-description-line [line]="subLine" [indentLevel]="indentLevel+1"></app-description-line>
  </li>
</ul>
