@use '../../../sass/margins';
@use '../../../sass/page';
@use '../../../sass/print';

:host {
  display: block;

  @include print.except {
    padding: page.$padding;
  }

  ::ng-deep {
    h1 {
      margin-block-end: margins.$m;
    }

    h2 {
      margin-block: margins.$m;
    }

    h3 {
      margin-block: margins.$s;
    }

    p {
      margin-block: 0.7em;
    }
    ul {
      list-style-type: square;
      margin-inline-start: 1em;
      padding-inline-start: 1em;
    }
  }
}
