@use 'breakpoints';
@use 'margins';
@use 'material-symbols';
@use 'animations';

:host {
  display: flex;
  gap: margins.$m;
  flex-wrap: wrap;
  flex-direction: row;

  ul {
    display: flex;
    flex-direction: row;
    gap: margins.$s;
  }

  li {
    a {
      text-decoration-line: none;
      color: var(--icon-default);
      &:hover {
        color: var(--sys-color-on-surface);
      }
      @include animations.define {
        @include animations.single-transition(
          color,
          animations.$emphasized-style
        );
      }
    }
  }

  $icons-height: 32px;
  @include material-symbols.class {
    font-size: $icons-height;
    @include material-symbols.variation-settings(
      $fill: true,
      $weight: 700,
      $grade: 200,
      $size: $icons-height
    );
  }

  ng-icon {
    font-size: $icons-height;
  }
}
