@if (contacts().length) {
  <ul>
    @for (contact of contacts(); track contact) {
      <li>
        <a
          [href]="contact.url.toString()"
          [attr.aria-label]="contact.label"
          appMaterialSymbol
          >{{ contact.icon }}</a
        >
      </li>
    }
  </ul>
}
@if (socials().length) {
  <ul>
    @for (social of socials(); track social) {
      <li>
        <a [href]="social.url.toString()" [attr.aria-label]="social.label">
          <ng-icon [svg]="social.icon"></ng-icon>
        </a>
      </li>
    }
  </ul>
}
