@use 'toolbar';
@use 'touch-or-pointer';
@use 'material-symbols';
@use 'animations';

:host {
  display: inline flex;
  flex-direction: column;
  justify-content: center;

  color: var(--icon-default);
  &:visited,
  &:active {
    color: var(--icon-default);
  }
  border-style: none;
  background: transparent;

  &:disabled {
    opacity: 0.5;
  }

  @include touch-or-pointer.primaryInputCanHover {
    &:not(:disabled):hover {
      color: var(--icon-default-hover);
    }
  }

  @include animations.when-motion {
    @include animations.single-transition(color, animations.$emphasized-style);
  }

  @include material-symbols.font-size(toolbar.$icons-height);
  @include material-symbols.variation-settings($fill: false, $weight: 200);

  ::ng-deep ng-icon {
    display: flex;
    align-items: center;

    ::ng-deep svg {
      height: 20px !important;
      width: 20px !important;
    }
  }
}
