<article appCard>
  @let education = this.education();
  <header appCardHeader>
    <app-link
      [href]="education.institution.website?.toString()"
      appTestId="image"
    >
      <app-card-header-image
        [src]="education.institution.imageSrc"
        [alt]="education.institution.name + ' logo'"
      >
      </app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <h3 appTestId="institution-name">
        {{ _institutionDisplayName() }}
      </h3>
      <h4>{{ education.studyType }} - {{ education.area }}</h4>
      <app-card-header-detail>
        <app-date-range [range]="education.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      @if (education.isCumLaude) {
        <app-attribute
          [symbol]="_materialSymbol.SocialLeaderboard"
          [appTestId]="_attribute.CumLaude"
        >
          Cum laude
        </app-attribute>
      }
    </app-card-header-attributes>
  </header>
  <app-chipped-content [contents]="_contents()"></app-chipped-content>
</article>
