@use 'theming';
@use 'animations';
@use 'margins';
@use 'paddings';
@use 'borders';

img.sports-equation {
  @include theming.when-dark-mode {
    filter: invert(1);
  }
  @include animations.when-motion {
    @include animations.single-transition(filter, animations.$emphasized-style);
  }
}

h2 {
  span {
    width: 1em;
  }
  &::ng-deep svg {
    height: 100%;
    fill: var(--sys-color-on-surface);
  }
}

.card-wrapper {
  display: flex;
  margin-block: margins.$l;
}

iframe {
  margin-block: margins.$m;
}

form {
  text-align: center;
}

aside {
  @include borders.panel(top);
  margin-block-start: margins.$l;
  padding-block-start: paddings.$m;
  font-style: italic;
}
