@use 'borders';
@use 'margins';
@use 'paddings';
@use 'material-symbols';

noscript {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: paddings.$m;
  gap: margins.$s;

  text-align: center;
  background: var(--app-color-toolbar-background);
  @include borders.panel(bottom);
}

p:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: margins.$s;
  font-size: 1.15em;
}

@include material-symbols.class {
  @include material-symbols.font-size(1em);
  @include material-symbols.variation-settings(
    $fill: false,
    $weight: 700,
    $grade: 0
  );
}
