@use 'borders';
@use 'margins';
@use 'header';
@use 'paddings';
@use 'z-index';
@use 'material-symbols';

:host {
  position: fixed;
  top: header.$height;
  width: 100%;
  z-index: z-index.$no-script;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: paddings.$m;
  gap: margins.$xs;
  text-align: center;
  height: var(--no-script-height);
  background: var(--app-color-toolbar-background);
  @include borders.panel(bottom);
}
p:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: margins.$s;
  font-size: 1.15em;
}

@include material-symbols.class {
  @include material-symbols.font-size(1em);
  @include material-symbols.variation-settings(
    $fill: false,
    $weight: 700,
    $grade: 0
  );
}
