@use 'borders';
@use 'margins';
@use 'header';
@use 'paddings';
@use 'z-index';
@use 'material-symbols';

:host {
  position: fixed;
  top: header.$height;
  width: 100%;
  z-index: z-index.$no-script;

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: paddings.$m;
    gap: margins.$xs;
    text-align: center;
    height: var(--no-script-height);
    background: var(--bg-z1);
    @include borders.panel(bottom);

    p:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: margins.$s;
    }

    p:not(:first-child) {
      font-size: 14px;
    }

    @include material-symbols.class {
      font-size: 1em;
      @include material-symbols.variation-settings(
        $fill: false,
        $weight: 700,
        $grade: 0,
        $size: 16
      );
    }
  }
}
