@use '../../../sass/margins';
@use '../../../sass/paddings';
@use '../../../sass/touch-or-pointer';

:host {
  display: flex;
  gap: margins.$xs;
  position: relative;
}

$padding: paddings.$xs;
select {
  appearance: none;
  background: transparent;
  color: inherit;
  border: none;
  position: relative;
  font-size: 1rem;
  padding: $padding calc(#{$padding * 4}) $padding $padding;
}

$arrow-size: 0.5rem;
:host::after {
  content: '▼';
  position: absolute;
  font-size: $arrow-size;
  margin-top: calc($arrow-size/2 + $padding);
  right: $padding;
}

@include touch-or-pointer.primaryInputCanHover {
  :host:has(select:enabled:hover) {
    color: var(--sys-color-on-surface);

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      border-radius: 2px;
      position: absolute;
      background-color: var(--sys-color-state-hover-on-subtle);
      top: 0;
      left: 0;
    }
  }
}
