@use 'animations';
@use 'margins';
@use 'toolbar';

:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: 0 margins.$s;
  gap: margins.$s;

  background-color: var(--app-color-toolbar-background);
  color: var(--ui-text);

  min-height: toolbar.$icons-height;

  @include animations.when-motion {
    @include animations.multiple-transitions(
      (background-color, color),
      animations.$emphasized-style
    );
  }
}
