@use 'sass:color';
@use 'sass:map';

@mixin color($theme) {
  $text-palette: map.get($theme, text);
  $primary: map.get($text-palette, primary);

  app-description {
    a {
      text-decoration-color: color.adjust($primary, $alpha: -0.75);
    }
  }
}
