@use "margins";
@use "paddings";

app-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: paddings.$m;

  ul, app-description-line {
    display: flex;
    flex-direction: column;
    gap: margins.$m;
  }

  // Content-specific customizations
  a.craft {
    text-decoration-line: underline;
    text-decoration-color: currentColor;
  }

  app-description-line[ng-reflect-indent-level="1"] > .item {
    font-weight: bold;
  }
}
