:host {
  // You may wonder: why aren't you just using "min-height: 100vh"? Well, good question.
  // Seems that choosing "vh" as units isn't a wise choice. Given the viewport height can change due to
  // mostly mobile phone world quirks: virtual keyboards, address bars...
  //
  // Concretely, had this issue with my Android phone's Chrome address bar and had to switch to this way after that
  // https://blog.logrocket.com/improving-mobile-design-latest-css-viewport-units/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // Weird things happen if the root acts as flex container
  // Given the root is fixed to take full screen, but isn't prepared to overflow
  main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100%;
  }
}
