@use 'borders';
@use 'animations';

.site-wrapper {
  margin: 0 auto;
  background-color: var(--sys-color-cdt-base-container);

  max-width: 960px;
  min-height: 100vh;
  @media not print {
    @include borders.panel(left, right);
  }
  @include animations.when-motion {
    @include animations.multiple-transitions(
      (background-color, border-color),
      animations.$emphasized-style
    );
  }
}

// 👇 To let `main` take as much height of wrapper as possible
main,
.site-wrapper {
  display: flex;
  flex-direction: column;
}

main,
::ng-deep main > * {
  flex-grow: 1;
}

router-outlet {
  display: none;
}
