@use 'borders';

.site-wrapper {
  margin: 0 auto;
  background: var(--sys-color-cdt-base-container);

  max-width: 960px;
  min-height: 100vh;
  @include borders.panel(left, right);
}

router-outlet {
  display: none;
}
