@use 'typographies';
@use 'material-symbols';
@use 'animations';
@use 'a11y';

// Font imports
// Browser should reach them as early as possible to start loading them
// Though this is actually done automatically by Angular CLI builders via Critters
// That actually inlines this in the HTML as `<styles>` to load them even before external CSS stylesheets
// have loaded
@include typographies.imports;
@include material-symbols.imports;

// CSS reset & normalization
@import 'gardevoir/dist/mini.min.css';

@include a11y.sr-only;

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-z0);
  color: var(--fg-primary);

  @include typographies.body-font();
  // Do not allow scroll "bounce" effect
  overscroll-behavior: none;

  @include animations.define {
    @include animations.multiple-transitions(
      (color, background-color),
      animations.$emphasized-style
    );
  }
}

@include typographies.styles;
@include material-symbols.styles;

code,
pre {
  @include typographies.monospace-font();
}

// TODO: Cooler links
a {
  color: inherit;
  text-decoration-color: inherit;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;

  @include animations.define {
    @include animations.single-transition(
      text-decoration-color,
      animations.$emphasized-style
    );
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}
