@use 'breakpoints';
@use 'margins';
@use 'animations';

:host {
  ul {
    @include breakpoints.xs {
      margin-left: 0;
    }

    // Position in same place as Material Symbols from app-profile-contact-traditional-icons
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    gap: margins.$m;

    @include breakpoints.xs() {
      justify-content: center;
    }

    li {
      height: 32px;
      a {
        text-decoration-line: none;
        color: var(--icon-default);
        &:hover {
          color: var(--sys-color-on-surface);
        }
        @include animations.define {
          @include animations.single-transition(
            color,
            animations.$emphasized-style
          );
        }
      }
    }

    ng-icon {
      font-size: 32px; // same as profile contact traditional icons
    }
  }
}
