<ng-container
  *ngTemplateOutlet="time; context: { $implicit: range().start }"
></ng-container>
→
@if (range().end) {
  <ng-container
    *ngTemplateOutlet="time; context: { $implicit: range().end }"
  ></ng-container>
} @else {
  <ng-container
    *ngTemplateOutlet="time; context: { $implicit: _now, text: 'Present' }"
  ></ng-container>
}
<ng-template #time let-time let-text="text">
  <time [dateTime]="time | date: 'yyyy-MM'">{{
    text ? text : (time | date: 'MMM yyyy')
  }}</time>
</ng-template>
