@use "src/margins" as margins;
@use "src/paddings" as paddings;

:host {
  display: block;
  padding: paddings.$m;

  ul {
    display: flex;
    gap: margins.$m;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: inline-block;
      padding: paddings.$s;
      border-radius: 2px;
      border-style: solid;
      border-width: 1px;

      svg {
        height: 1em;
        width: 1em;
      }
    }
  }
}


