@use "src/margins" as margins;
@use "src/paddings" as paddings;

:host {
  display: block;
  padding: paddings.$m;

  ul {
    display: flex;
    gap: margins.$m;
    flex-wrap: wrap;
    justify-content: center;

    li {
      display: flex;
      padding: paddings.$s;
      border-radius: 2px;
      border-style: solid;
      border-width: 1px;
      gap: margins.$s;

      span {
        display: inline-block;
        height: 1em;
        width: 1em;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}


