@use 'margins';
@use 'page';

:host {
  display: block;
  padding: page.$padding;

  ::ng-deep {
    h1 {
      margin-block-end: margins.$m;
    }

    h2 {
      margin-block: margins.$m;
    }

    p {
      margin-block: 1em;
    }
    ul {
      list-style-type: square;
      margin-inline-start: 1em;
      padding-inline-start: 1em;
    }
  }
}
