<app-card>
  <app-card-header>
    <app-link
      *ngIf="item.image"
      [href]="item.website?.toString()"
      appTestId="image"
    >
      <app-card-header-image
        [src]="item.image.toString()"
        [alt]="item.name + ' logo'"
      ></app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <app-card-header-title appTestId="name">
        <app-link [href]="item.website?.toString()">
          {{ item.name }}
        </app-link>
      </app-card-header-title>
      <app-card-header-subtitle *ngIf="item.roles.length" appTestId="role">
        <!-- TODO: display all roles, for current case just 1 is enough -->
        {{ item.roles[0] }}
      </app-card-header-subtitle>
      <app-card-header-detail>
        <app-date-range [range]="item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      <app-attribute
        *ngIf="item.stack"
        [symbol]="StackContent[item.stack].materialSymbol"
        [id]="getAttributeId(Attribute.Stack)"
        [appTestId]="Attribute.Stack"
      >
        {{ StackContent[item.stack].displayName }}
      </app-attribute>
    </app-card-header-attributes>
  </app-card-header>
  <app-chipped-content [contents]="contents"></app-chipped-content>
</app-card>
