<article appCard>
  <header appCardHeader>
    <app-language-tag [tag]="item().tag"></app-language-tag>
    <app-card-header-texts>
      <app-card-header-title appTestId="name">
        {{ item().name }}
      </app-card-header-title>
      <app-card-header-subtitle appTestId="fluency">
        {{ item().fluency }}
      </app-card-header-subtitle>
    </app-card-header-texts>
  </header>
  @if (item().comment) {
    <div appTestId="comment">
      <p>{{ item().comment }}</p>
    </div>
  }
</article>
