@use 'animations';

@mixin color($theme) {
  app-profile-picture {
    img {
      background-color: var(--bg-z1);
      border-color: var(--hairline);
      filter: var(--img-filter);
    }

    .comment {
      background-color: var(--bg-z2);

      &:before {
        border-right-color: var(--bg-z2) !important;
      }
    }

    // Bubble speech is at top on super small screens
    @media screen and (max-width: 279.98px) {
      .comment:before {
        border-right-color: transparent !important;
        border-bottom-color: var(--bg-z2) !important;
      }
    }
  }
}

@mixin motion() {
  app-profile-picture {
    img {
      transition: animations.transition(opacity),
        animations.transition(visibility),
        animations.transition(filter, animations.$emphasized-style),
        animations.transition(background-color, animations.$emphasized-style),
        animations.transition(border-color, animations.$emphasized-style);
    }

    .comment {
      @include animations.multiple-transitions((opacity, visibility));
    }
  }
}
