@use 'margins';

:host {
  display: inline-block;

  .wrap {
    display: flex;
    gap: margins.$s;
  }

  .icon {
    position: relative;
    height: 1em;
    width: 1em;
    ::ng-deep svg {
      fill: blue;
    }
  }
}
