@use '../../../../../sass/borders';
@use '../../../../../sass/breakpoints';
@use '../../../../../sass/animations';

app-tech-tags-selector {
  @include borders.panel(bottom);
  @include animations.single-transition(border-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex: 1;

    @include animations.single-transition(border-color);

    &:not(:last-child) {
      @include borders.panel(right);
    }

    @include breakpoints.s {
      flex: 1 0 50%;
      &:nth-child(2) {
        border-right-style: none;
      }
      &:last-child {
        width: 100%;
        @include borders.panel(top);
      }
    }

    @include breakpoints.xs {
      flex: 1 0 100%;
      border-right-style: none !important;
      &:not(:last-child) {
        @include borders.panel(bottom);
      }
    }
  }
}
