@use 'sass:map';
@use 'animations';
@use 'borders';
@use 'position/position-theme';

@mixin color($theme) {
  $image-opts: map.get($theme, image);
  $background-palette: map.get($theme, background);
  $text-palette: map.get($theme, text);

  app-professional-experience {
    h2 {
      background-color: map.get($background-palette, z1);
    }
    @include position-theme.color($theme);
  }
}

@mixin motion() {
  app-professional-experience {
    @include position-theme.motion;
  }
}
