@use 'margins';
@use 'paddings';
@use 'material-symbols';
@use 'print';

:host {
  background: white;
  color: black;

  h2 {
    margin-block: margins.$m;
  }

  h3 {
    margin-block: margins.$s;
  }

  ul,
  p {
    margin-block: margins.$s;
  }

  ::ng-deep a,
  ::ng-deep a:hover,
  ::ng-deep a:active,
  ::ng-deep a:visited {
    color: var(--ref-palette-primary40);
  }

  @include print.only {
    ::ng-deep a,
    ::ng-deep a:active,
    ::ng-deep a:visited {
      color: black;
      text-decoration-line: none;
    }
  }
}

@include material-symbols.class {
  @include material-symbols.font-size(1em);
  @include material-symbols.variation-settings($fill: false);
}

.profile {
  .label {
    font-size: 1.15em;
    margin-block: 0.7rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
    gap: 8px;

    a {
      display: flex;
      align-items: center;
      gap: margins.$xs;
      text-decoration-line: none;
    }
  }
}

hr {
  margin-block: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: margins.$m;

  > :first-child {
    flex: 2;
  }
  > :last-child {
    flex: 1;
    text-align: right;
  }

  break-after: avoid;
}

.two-col {
  columns: 2;
}

app-date-range {
  font-style: italic;
}

dl.langs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: margins.$m;

  > div {
    display: flex;
    align-items: baseline;
    gap: margins.$s;
  }

  dt {
    font-weight: bold;
  }
}

[role='note'] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: margins.$s;

  border-style: solid none;
  border-width: 1px;
  border-color: black;

  padding: paddings.$xs;
  margin-bottom: margins.$m;

  @include print.visible-only;
}
