@use 'borders';
@use 'margins';
@use 'paddings';
@use 'animations';

:host {
  position: relative;
  cursor: pointer;
  color: var(--ui-text);

  @include animations.when-motion {
    @include animations.single-transition(color);
  }

  &:hover {
    [role='tooltip'] {
      visibility: unset;
      right: 100%;
      opacity: 1;
    }
  }
}

[role='tooltip'] {
  position: absolute;
  top: 0;

  // 👇 For animation purposes
  visibility: hidden;
  right: 150%;
  opacity: 0;
  @include animations.when-motion {
    @include animations.multiple-transitions(
      (right, opacity, visibility, background-color, color, border-color),
      animations.$emphasized-style
    );
  }

  font-size: 1rem;
  width: max-content;
  margin: 0 margins.$s;
  padding: paddings.$s;
  text-align: right;
  @include borders.panel;
  color: var(--ui-text);
  background-color: var(--sys-color-surface5);
}
