@use 'borders';
@use 'margins';
@use 'paddings';
@use 'animations';

:host {
  position: relative;
  cursor: pointer;
  color: var(--fg-secondary);

  @include animations.define {
    @include animations.single-transition(color);
  }

  &:hover {
    [role='tooltip'] {
      display: inline-block;
    }
  }

  [role='tooltip'] {
    display: none;
    font-size: 1rem;
    position: absolute;
    width: max-content;
    right: 100%;
    margin: 0 margins.$s;
    padding: paddings.$s;
    text-align: right;
    @include borders.panel-style-width;
    color: var(--fg-primary);
    background-color: var(--bg-z2);
    border-color: borders.$panel-color;
  }
}
