@use '../../../sass/borders';
@use '../../../sass/page';
@use '../../../sass/margins';
@use '../../../sass/material-symbols';
@use '../../../sass/paddings';

:host {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: margins.$m;
  padding: page.$padding;
}

.icon {
  font-size: 96px;
  line-height: 1;
}

main,
aside {
  text-align: center;
}

.message {
  margin-top: 0.75em;
  font-size: 1.25em;
}

.tip {
  @include borders.panel;
  padding: paddings.$m;
  display: flex;
  flex-direction: column;
  gap: margins.$s;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: margins.$xs;

    @include material-symbols.class {
      @include material-symbols.font-size(1em);
    }
  }
}
