@use 'animations';

@mixin color($theme) {
  app-navigation-tabs {
    background-color: var(--bg-z1);
    color: var(--fg-secondary);

    ul {
      > .selected {
        background-color: var(--tabs-selected-bg);
        color: var(--tabs-selected-fg);
        border-bottom: var(--tabs-selected-border-bottom);
      }

      > :not(.selected):hover {
        background-color: var(--bg-z2);
        color: var(--fg-primary);
      }
    }
  }
}

@mixin motion() {
  app-navigation-tabs {
    @include animations.multiple-transitions(
      (background-color, color),
      animations.$emphasized-style
    );

    ul > .selected {
      @include animations.multiple-transitions(
        (background-color, color),
        animations.$emphasized-style
      );
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
}
