<ul aria-label="Panels" role="tablist">
  <li *ngFor="let item of items" [attr.aria-label]="item.displayName" [attr.aria-selected]="tab === item.id"
      [class.selected]="tab === item.id"
      [tabindex]="item.id == tab ? 0 : -1" role="tab">
    <ng-container *ngIf="!item.externalUrl; else externalLink">
      <a [href]="'#'+item.id">{{ item.displayName }}</a>
    </ng-container>
    <ng-template #externalLink>
      <a [href]="item.externalUrl" target="_blank">
        {{ item.displayName }}
      </a>
    </ng-template>
  </li>
</ul>
