@use "src/paddings" as paddings;

:host {
  display: block;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      display: inline-flex;
      padding: paddings.$s;
      flex-grow: 1;
      justify-content: center;
      text-align: center;

      a, span {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
