@use 'sass:map';
@use 'card-header-image/card-header-image-theme';
@use 'card-header-title/card-header-title-theme';
@use 'animations';
@use 'borders';

@mixin color($theme) {
  $background-palette: map.get($theme, background);
  $text-palette: map.get($theme, text);

  app-card {
    background-color: map.get($background-palette, z1);
    border-color: borders.panel-color($theme);

    @include card-header-image-theme.color($theme);
  }
}

@mixin motion {
  app-card {
    @include animations.multiple-transitions(
      (background-color, border-color),
      animations.$emphasized-style
    );

    @include card-header-image-theme.motion;
    @include card-header-title-theme.motion;
  }
}
