<div class="chips">
  @for (content of contents; track content; let i = $index) {
    <app-chip
      [selected]="_isActive && _activeIndex === i"
      (selectedChange)="onSelect(i)"
    >
      {{ content.displayName }}
    </app-chip>
  }
</div>
<div
  class="content"
  [@contentDisplayed]="_isActive"
  (@contentDisplayed.done)="_scrollIntoView(contentElement)"
  #contentElement
>
  <ng-container
    [ngComponentOutlet]="contents[_activeIndex].component"
    [ngComponentOutletInputs]="contents[_activeIndex].inputs"
  ></ng-container>
</div>
