<div class="chips">
  @for (content of contents(); track content) {
    <app-chip
      [isSelected]="isActive() && content === activeContent()"
      (isSelectedChange)="select(content)"
    >
      {{ content.displayName }}
    </app-chip>
  }
</div>
<div
  class="content"
  [@contentDisplayed]="isActive()"
  (@contentDisplayed.done)="_scrollIntoView(contentElement)"
  #contentElement
>
  <ng-container
    [ngComponentOutlet]="activeContent().component"
    [ngComponentOutletInputs]="activeContent().inputs"
  ></ng-container>
</div>
