@use 'margins';

:host {
  display: flex;
  flex-direction: column;
  gap: margins.$m;

  .selectable-chips {
    display: flex;
    gap: margins.$s;
  }

  .content {
    app-chip {
      margin-bottom: margins.$s;
    }

    > ::ng-deep * {
      display: block;
    }

    overflow: hidden;
  }
}
