@use 'margins';

:host {
  display: flex;
  flex-direction: column;
  gap: margins.$m;
}

.chips {
  display: flex;
  gap: margins.$s;
}

.content {
  > ::ng-deep * {
    display: block;
  }

  overflow: hidden;
}
