@mixin color($theme) {
  $background-palette: map-get($theme, background);

  app-profile {
    .picture {
      img {
        background-color: map-get($background-palette, z2);
        border-color: map-get($theme, hairline);
        filter: grayscale(map-get($theme, img-grayscale));
      }

      .comment {
        background-color: map-get($background-palette, z3);

        &:before {
          border-right-color: map-get($background-palette, z3) !important;
        }
      }

      // Bubble speech is at top on super small screens
      @media screen and (max-width: 279.98px) {
        .comment:before {
          border-right-color: transparent !important;
          border-bottom-color: map-get($background-palette, z3) !important;
        }
      }
    }
  }
}

@mixin theme($theme) {
  @include color($theme);
}
