@use "src/margins" as margins;
@use "src/paddings" as paddings;

:host {
  display: block;
  text-align: center;
  padding: paddings.$m;

  img {
    border-radius: 128px;
    border-style: solid;
    border-width: 1px;
  }

  h1 {
    font-size: 2em;
    margin: margins.$s 0;
  }

  h2 {
    font-size: 1.25em;
    margin-top: .5em;
  }
}
