<!--suppress HtmlUnknownBooleanAttribute (priority attr doesn't need a value!), CheckImageSize -->
<div class="picture">
  <img alt="A portrait of {{ realName }}. Appears surprised" class="huh"
       height="128" ngSrc="assets/img/profile_huh.png" width="128">
  <img alt="A portrait of {{ realName }}. Slightly smiling and wearing geek'ish glasses" class="main"
       height="128" ngSrc="assets/img/profile.png" priority width="128">
  <div class="comment">
    Hey! 👋 Did you <span class="touch">tap</span><span class="hover">hover</span> me?
  </div>
</div>
<h1>
  <span>{{ realName }}</span>
  <code>@{{ nickname }}</code>
</h1>
<div class="descriptions">
  <h2 *ngFor="let descriptionLine of descriptionLines" [innerHtml]="descriptionLine"></h2>
</div>

