@use 'page';
@use 'theming';
@use 'animations';

img.sports-equation {
  @include theming.when-dark-mode {
    filter: invert(1);
  }
  @include animations.when-motion {
    @include animations.single-transition(filter, animations.$emphasized-style);
  }
}

h2 {
  font-weight: bold;
}

.card-wrapper {
  display: flex;
}

form {
  text-align: center;
}
