@use 'page';
@use 'texts';
@use 'theming';
@use 'animations';

:host {
  display: block;
  padding: page.$padding;
}

@include texts.page;

img.sports-equation {
  @include theming.host-context-dark-mode-only {
    filter: invert(1);
  }
  @include animations.define-with-host-context {
    @include animations.single-transition(filter, animations.$emphasized-style);
  }
}

h2 {
  font-weight: bold;
}

.minimal-card {
  display: flex;
}

form {
  text-align: center;
}

iframe {
  border: none;
}
