<app-toolbar>
  <app-selector
    label="Display mode"
    [options]="_displayModeOptions"
    [selected]="_displayMode()"
    (selectedChange)="onDisplayModeChange($event)"
  ></app-selector>
  @if (_isPlainDisplayMode()) {
    <button appToolbarButton [icon]="_materialSymbols.Print" onclick="print()">
      Print
    </button>
    <label appCheckboxLabel>
      <input
        type="checkbox"
        appCheckbox
        [checked]="_isCompact()"
        (change)="onCompactModeChange($event)"
      />
      Compact
    </label>
  }
</app-toolbar>
@if (_isPlainDisplayMode()) {
  <app-plain-resume></app-plain-resume>
} @else {
  <app-web-resume></app-web-resume>
}
