:host {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

// https://blog.hubspot.com/website/hide-scrollbar-css
:host {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
:host::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
