:host {
  display: flex;
  flex-wrap: nowrap;

  justify-content: flex-start;
  align-items: stretch;
}

[role='tablist'] {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  justify-content: flex-start;
  align-items: stretch;
  // https://blog.hubspot.com/website/hide-scrollbar-css
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
