<article appCard>
  <header appCardHeader>
    @let item = this.project();
    @if (item.imageSrc) {
      <app-link [href]="item.website?.toString()" appTestId="image">
        <app-card-header-image
          [src]="item.imageSrc"
          [alt]="item.name + ' logo'"
        ></app-card-header-image>
      </app-link>
    }
    <app-card-header-texts>
      <h3 appTestId="name">
        {{ item.name }}
      </h3>
      @if (item.roles.length) {
        <h4 appTestId="role">
          <!-- TODO: display all roles, for current case just 1 is enough -->
          {{ item.roles[0] }}
        </h4>
      }
      <app-card-header-detail>
        <app-date-range [range]="item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      @if (item.stack) {
        <app-attribute
          [symbol]="_stackContent[item.stack].materialSymbol"
          [appTestId]="_attribute.Stack"
        >
          {{ _stackContent[item.stack].displayName }}
        </app-attribute>
      }
    </app-card-header-attributes>
  </header>
  <app-chipped-content [contents]="_contents()"></app-chipped-content>
</article>
