/**
 * Given a theme name, generates the proper CSS so that the contents are enabled only when
 * the named theme has been selected.
 *
 * If that theme is the default one, will generate the CSS so that the content is applied by default
 *
 * Selection may happen due to:
 *  - "html" tag specifying color scheme attribute
 *  - prefers-color-scheme media query matching theme name
 */
@mixin color-themed($theme-name) {
  @if $theme-name == light {
    // Default (no color scheme preference) styles are light ones
    html, html[data-color-scheme=#{$theme-name}] {
      @content;
    }
  } @else {
    @if $theme-name == dark {
      // Switch to dark if user prefers that
      @media (prefers-color-scheme: $theme-name) {
        html {
          @content
        }
      }
      // Switch dynamically by setting color scheme
      // Ensure this HTML attribute matches the one set in ColorSchemeService
      html[data-color-scheme=#{$theme-name}] {
        @content;
      }
    }
  }

}

/**
 * List of available themes.
 *
 * If theme is named "dark" or "light" (matching prefers-color-scheme values), that same CSS
 * directive may be used when including content for that theme.
 */
$themes: (
  light: (
    background: (
      // Invented tweaking luminance in HSL
      main: #fcfdfd,
      z0: #f8f9f9ff,
      z1: #f1f3f4ff,
      z2: #dee1e6ff,
    ),
    image: (
      filter: unset,
    ),
    text: (
      primary: #202124ff,
      secondary: #5f6368ff,
    ),
    tabs: (
      // --legacy-tab-selected-fg-color
      selected-foreground: #333333ff,
      selected-background: transparent,
      // --legacy-accent-color
      selected-border-bottom: 2px solid #1a73e8,
    ),
    social: (
      // --color-text-secondary
      foreground: #5f6368ff,
      // --legacy-toolbar-hover-bg-color
      hover-background: #eaeaea,
    ),
    accent: #8ab4f8,
    hairline: #cacdd1ff,
    icon: #6e6e6eff,
    json: (
      foreground: #202124ff,
      key: #5f6368ff,
      value-string: #c80000ff,
    ),
  ),
  dark: (
    background: (
      // Invented tweaking luminance in HSL
      main: #141415,
      z0: #202023ff,
      z1: #292a2dff,
      z2: #35363aff,
    ),
    text: (
      primary: #e8eaedff,
      secondary: #9aa0a6ff,
    ),
    image: (
      filter: grayscale(.5),
    ),
    social: (
      foreground: #bdc6cfff,
      // --legacy-toolbar-hover-bg-color
      hover-background: #202020,
    ),
    accent: #8ab4f8,
    hairline: #494c50ff,
    tabs: (
      // --legacy-tab-selected-fg-color
      selected-foreground: #eaeaea,
      selected-background: #000000,
      selected-border-bottom: none,
    ),
    icon: #919191ff,
    json: (
      // foreground & key are swapped regarding to DevTools. So key is more important (more contrast)
      // --color-text-secondary: #9aa0a6ff,
      // Replaced as not enough contrast. Decreased luminance in HSL
      foreground: #a6abb0,
      // --color-text-primary
      key: #e8eaedff,
      // --color-syntax-1
      value-string: #35d4c7ff,
      // cta
      //adorner-background-color: rgb(93 176 215 / 15%),
      //adorner-border-color: rgb(93 176 215 / 50%),,
    ),
  ),
);
