<app-card>
  <app-card-header>
    <app-link
      *ngIf="_item.imageSrc"
      [href]="_item.website?.toString()"
      appTestId="image"
    >
      <app-card-header-image
        [src]="_item.imageSrc"
        [alt]="_item.name + ' logo'"
      ></app-card-header-image>
    </app-link>
    <app-card-header-texts>
      <app-card-header-title appTestId="name">
        <app-link [href]="_item.website?.toString()">
          {{ _item.name }}
        </app-link>
      </app-card-header-title>
      <app-card-header-subtitle *ngIf="_item.roles.length" appTestId="role">
        <!-- TODO: display all roles, for current case just 1 is enough -->
        {{ _item.roles[0] }}
      </app-card-header-subtitle>
      <app-card-header-detail>
        <app-date-range [range]="_item.dateRange"></app-date-range>
      </app-card-header-detail>
    </app-card-header-texts>
    <app-card-header-attributes>
      <app-attribute
        *ngIf="_item.stack"
        [symbol]="StackContent[_item.stack].materialSymbol"
        [id]="getAttributeId(Attribute.Stack)"
        [appTestId]="Attribute.Stack"
      >
        {{ StackContent[_item.stack].displayName }}
      </app-attribute>
    </app-card-header-attributes>
  </app-card-header>
  <app-chipped-content [contents]="contents"></app-chipped-content>
</app-card>
