@use '../../../../../sass/margins';
@use '../../../../../sass/paddings';
@use '../../../../../sass/touch-or-pointer';
@use '../../../../../sass/animations';

:host {
  display: flex;
  flex-wrap: wrap;
  gap: margins.$m;
  padding: paddings.$s paddings.$l;
}

label {
  display: flex;
  align-items: center;
  gap: margins.$xs;
}

input[type='checkbox'] {
  $size: 12px;
  height: $size;
  width: $size;
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  accent-color: var(--sys-color-primary-bright);

  @include animations.single-transition(accent-color);

  // Unchecked accent color in dark mode is different for Chromium's internal
  // UI and Chromium's rendered HTML checkboxes. Mimicking Chromium's UI here.
  &:not(:checked)::before {
    content: '';
    background-color: var(--unchecked-checkbox-accent);
    position: absolute;
    width: $size;
    height: $size;
    border-width: 1px;
    border-style: solid;
    border-color: var(--unchecked-checkbox-border);
    border-radius: 3px;
  }

  @include touch-or-pointer.primaryInputCanHover {
    &:hover::after,
    &:active::before {
      content: '';
      height: 2 * $size;
      width: 2 * $size;
      border-radius: var(--sys-shape-corner-full);
      position: absolute;
    }
  }

  &:not(:disabled):hover::after {
    background-color: var(--sys-color-state-hover-on-subtle);
  }
  &:not(:disabled):active::before {
    background-color: var(--sys-color-state-ripple-neutral-on-subtle);
  }

  &:not(:disabled):focus-visible::before {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 5px;
    position: absolute;
    border: 2px solid var(--sys-color-state-focus-ring);
  }

  &::before,
  &::after {
    @include animations.multiple-transitions((background-color, border-color));
  }
}
