<app-content-page>
  <h1>🎁 Gifts</h1>
  <p>
    If you're thinking about gifting me something, first of all...
    <strong>thanks 🙏</strong><br />
    Just the fact you're thinking about that is much appreciated and I'm very
    grateful already ❤️ <br />
    Let me help you at least making this easier😊
  </p>

  <h2>Preferences</h2>
  <p>
    Checkout my
    <a href="https://www.giftster.com/preferences/1747782/"
      >🎁 gift preferences</a
    >
    to:
  </p>
  <ul>
    <li>Get some general ideas</li>
    <li>Know about my clothes sizes</li>
    <li>
      Avoid buying something I'll be very grateful for despite not knowing what
      to do with it
    </li>
  </ul>

  <h2>Wishlist</h2>
  <p>
    Both wishlists are sorted by preference by default. Most preferred first
  </p>
  <h3>General</h3>
  <p>
    Checkout my
    <a href="https://www.giftster.com/list/hz6ij/">📋✨ wishlist</a>
    to know about my current desires and each one's
  </p>
  <ul>
    <li>Price</li>
    <li>Store</li>
    <li>Preference (stars)</li>
    <li>Details</li>
  </ul>
  <p>
    It's updated from time to time. You can checkout
    <a href="https://www.giftster.com/gift/hz6ij/#:~:text=Last%20update"
      >last time it was updated at the bottom of the page</a
    >
  </p>
  <h3>Books</h3>
  <p>
    You can also find in the previous list a link to my
    <a
      href="https://www.amazon.es/hz/wishlist/ls/3ISME0AFHZV3U?type=wishlist&filter=unpurchased&sort=priority&viewType=list"
      >📚 books wishlist on Amazon</a
    >. You can buy any book and they will get delivered to me. No need to know
    my address!
  </p>
  <p>
    Also, if you want to surprise me with a book that's not in there, you can
    find in my
    <a href="https://www.goodreads.com/user/show/183382569-david-lj"
      >goodreads profile</a
    >:
  </p>
  <ul>
    <li>
      <a
        href="https://www.goodreads.com/review/list/183382569-david-lj?shelf=read"
        >✅ Books I've already read</a
      >
    </li>
    <li>
      <a
        href="https://www.goodreads.com/review/list/183382569-david-lj?shelf=currently-reading"
        >⚙️ Book(s) I'm reading right now</a
      >
    </li>
    <li>
      <a
        href="https://www.goodreads.com/review/list/183382569-david-lj?shelf=bought-but-not-read-yet"
        >📚 Book(s) I've bought and have on the shelf to read next</a
      >
    </li>
    <li>
      <a
        href="https://www.goodreads.com/review/list/183382569-david-lj?shelf=social-recommendations"
        >💡 Some great books recommended by great friends</a
      >
    </li>
  </ul>

  <h2>Credits</h2>
  <p>
    <a href="https://www.giftster.com/">
      Gift preferences and general wishlist are powered by Giftster
      <br />
      <img
        ngSrc="/images/misc/giftster.png"
        alt="Giftser logo"
        width="320"
        height="129"
      />
    </a>
    <br />
    You can also
    <a href="https://www.giftster.com/account/register/"
      >create your wishlist</a
    >
    for free
  </p>
</app-content-page>
