<h1>🎁 Gifts</h1>
<p>
  If you're thinking about gifting me something, first of all...
  <strong>thanks 🙏</strong> <br /><br />Just the fact you're thinking about
  that is much appreciated and I'm very grateful already ❤️ <br /><br />Let me
  help you at least making this easier😊
</p>

<h2>Preferences</h2>
<p>
  Checkout my
  <a href="https://www.giftster.com/preferences/1747782/"
    >🎁 gift preferences</a
  >
  to:
</p>
<br />
<ul>
  <li>Get some general ideas</li>
  <li>Know about my clothes sizes</li>
</ul>

<h2>Wishlist</h2>
<p>
  Checkout my
  <a href="https://www.giftster.com/list/hz6ij/">📋✨ wishlist</a>
  to know about my current desires and each one's
</p>
<br />
<ul>
  <li>Price</li>
  <li>Store</li>
  <li>Preference (stars)</li>
  <li>Details</li>
</ul>

<h2>Credits</h2>
<p>
  <a href="https://www.giftster.com/">
    Powered by Giftster
    <br />
    <img
      ngSrc="/assets/img/giftster.png"
      alt="Giftser logo"
      width="320"
      height="129"
    />
  </a>
  <br />
  You can also
  <a href="https://www.giftster.com/account/register/">create your wishlist</a>
  for free
</p>
