name: Style
on:
  workflow_call:

jobs:
  style:
    name: Format check
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Format check
        run: pnpm run format:check
