name: Style
on:
  workflow_call:
    inputs:
      artifact-name:
        required: false
        type: string
      ref:
        description: Git reference to checkout. Defaults to @actions/checkout default.
        type: string
        required: false
        default: ''

jobs:
  build:
    name: Format check
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
        with:
          ref: ${{ inputs.ref }}
      - name: Setup
        uses: ./.github/actions/setup
      - name: Format check
        run: cd .ci && make format-check
